.THIS .syneboLookup {
 margin-right:5px !important;   
 margin-left:5px !important;   
}
.THIS  .lulc-undo{
   display:none !important; 
}
.THIS .hideposi{
 position : absolute !important;   
}
.THIS .hidescroll{
    overflow: initial;
}
@media (min-width: 48em){
.THIS .slds-modal__container {
        padding:0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 90rem !important;
    min-width: 30rem !important;
}
}