.THIS .slds-modal__container {
    width: 100% !important;
    max-width: 100% !important;
}
.THIS .headerSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 1.7rem !important;
    z-index: 1 !important;
    background-color:#efefef;
}
.THIS .mainHeaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0rem !important;
    z-index: 1 !important;
    background-color:#efefef;
}
.THIS .productHeaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0rem !important;
    z-index: 1 !important;
    background-color:#efefef;
}

.THIS .headerStickyTotal{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 4.5rem!important;
    z-index: 1 !important;
    background-color:#efefef;
}

.THIS .slds-modal{
    z-index: 10000 !important;
}