.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .iconCSS{
    margin-top: -12px !important;
}

.THIS .modalShadowRemove{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.THIS .red svg {
    fill : red !important;
}

.THIS .green svg {
    fill : green !important;
}

.THIS .yellow svg {
    fill : yellow !important;
}

.THIS .grey svg {
    fill : grey !important;
}

.THIS .customLabel .slds-form-element__label{
    font-size: 14px !important;
}

.THIS .iconCSSPage {
    margin-top: -4px !important;
}

.THIS .headerOfTable{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
}

.THIS .purpleIcon svg{
    fill:#5224B2;
}