.THIS .descriptionCSS{
    table-layout:fixed;
    overflow: hidden;
    max-width: 200px !important;
    white-space: nowrap;  
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    
}
.THIS .fixed {
    table-layout:fixed;
    overflow: hidden;
    max-width: 200px !important;
}