.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6 !important;
    line-height: 1.675rem !important;
    padding: 5px !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
}

.THIS .slds-accordion__section {
    padding: 0.65rem !important;
}

.THIS .myCheckbox {
    display: inline-block;
    padding-left: 3px;
    float: left;
}

.THIS .checkBoxLabel {

    padding-left: 5px;

}


.THIS .noheightClass {
    height: auto !important;
}

.THIS .heightClass {
    height: 400px !important;
}

.THIS .BidLineItemtable {
    line-height: 28px;
}

.THIS.slds-modal__container {
    max-width: 100rem !important;
    width: 100% !important;
    transform: translate(0, 0) !important;
}

.THIS .frequired label:after {
    content: " *";
    color: #e32;
}



.THIS .sapdata {
    text-align: left;


}

.THIS .spinColor {
    background-color: transparent;
}

.THIS .btn {
    margin-right: 7px;
    float: right;
}

.THIS .customtable th {
    vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
    color: black !important;
}

.THIS .customtable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;

}

.THIS .maintable th {
    vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
    color: black !important;
}

.THIS .maintable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
    padding-left: 0px !important;
}



.THIS .customBIcon2 {
    background-color: white;
    padding-left: 9px !important;
    padding-right: 2px !important;
    margin: 0 0.3rem;
    float: right;
}



.THIS .headerText {
    text-align: center;
}

.THIS .customBIcon {
    background-color: white;
    padding-left: 9px !important;
    padding-right: 2px !important;
}

.THIS .customLookup {
    border-left-color: #ce0000;
    border-left-width: 3px;
}

.THIS .selected {
    color: orange;
}

.THIS .customContainer {
    padding-top: 1%;
    background-color: white;
    color: #6b6d70;
}

.THIS .txtArea textarea {
    /*height:70px !important;*/
    height: 63px;
}

.THIS .hiddenLabel label {
    display: none;
}

/* Styles for Contracts view */

.THIS .inline-container {
    display: inline-flex;
}

.THIS .padding-right {
    padding-right: 20px;
}


.THIS .slds-form--stacked {
    width: 100%;
    margin-top: 5%;
}

.THIS .accrodincls {
    padding-left: 7px;
    width: 99%;
}

.THIS .showcontwrap span.slds-checkbox {
    white-space: nowrap;
}