.THIS .showGreen svg {
    fill : green !important;
}
.THIS .showRed svg {
    fill : red !important;
}
.THIS .showOrange svg {
    fill : orange !important;
}
.THIS .unitsInput input{
    text-align:right;
}
.THIS .label-hidden > label {
    display: none;
}
.THIS .rightAlignCss input{
    text-align: right;
}
.THIS .disabledRow{
    background-color:#ececec;
}

.THIS .alignSameLine{
    display:inline-block;
}
.THIS .ellipsis {
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.THIS .fixedTd{
    max-width: 90px;
}
.THIS .hoverTable{
    background-color:#E6E6E6;
    font-weight: 600;
}
.THIS .hoverHeader{
    text-align:center;
    font-weight: 600;
    font-size: 16px;
}