.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 50px;
}
.THIS.mymodal  {
    padding: 0px !important;
    padding-top: 15px !important;
}
.THIS .slds-card__body_inner, .THIS .slds-card__body--inner {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.THIS .slds-section-title--divider {
	text-transform: capitalize !important;
	font-size: 16px !important;
	font-weight: bold !important;
}
.THIS .pillRemove .slds-pill__remove{
    display: none !important;
}