.THIS.slds-tabs_default{
background-color:white !important;    
}
.THIS .slds-modal__container{
    width: 70% !important;
    max-width: 60rem !important;
}
.THIS .inputSize {
    width:100%; 
}
.THIS .heightClass{
    height:400px !important;
}
.THIS .noheightClass{
    height:auto !important;
}


.THIS .maintable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .maintable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}
    
 .THIS .maintable th[scope=row]:nth-child(1) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable th[scope=row]:nth-child(2) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 8em !important;
  z-index: 1 !important;
}
.THIS .maintable th[scope=row]:nth-child(3) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 28em !important;
  z-index: 1 !important;
}
.THIS .maintable th[scope=row]:nth-child(4) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 48em !important;
  z-index: 1 !important;
}  


 

.THIS .maintable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}
.THIS .maintable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}

.THIS .maintable th:not([scope=row]):nth-child(1) {
  left: 0 !important;
  z-index: 9999 !important;
}
.THIS .maintable th:not([scope=row]):nth-child(2) {
  left: 8em !important;
  z-index: 9999 !important;
}
.THIS .maintable th:not([scope=row]):nth-child(3) {
  left: 28em !important;
  z-index: 9999 !important;
}
.THIS .maintable th:not([scope=row]):nth-child(4) {
  left: 48em !important;
  z-index: 9999 !important;
}


@media all and (min-width: 30em) {
 
    .THIS .maintable th[scope=row]:nth-child(1)  {
    min-width: 8em !important;
  }
    .THIS .maintable th[scope=row]:nth-child(2)  {
    min-width: 20em !important;
  }
    .THIS .maintable th[scope=row]:nth-child(3)  {
    min-width: 20em !important;
  }
    .THIS .maintable th[scope=row]:nth-child(4)  {
    min-width: 8em !important;
  }
   
}