.THIS .frequired label:after { 
    content:" *";
    color: #e32;
}
.THIS .pillRemove .slds-pill__remove{
    display: none !important;
}
.THIS .select .slds-form-element{
    width:97% !important;
}
.THIS.slds-tabs_default{
background-color:white !important;    
}
.THIS .slds-modal__container{
    width: 70% !important;
    max-width: 60rem !important;
}
.THIS .inputSize {
    width:100%; 
}
.THIS .heightClass{
    height:400px !important;
}
.THIS .noheightClass{
    height:auto !important;
}
.THIS .maintable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .maintable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}

.THIS .maintable th[scope=row]:nth-child(1) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable th[scope=row]:nth-child(2) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable th[scope=row]:nth-child(3) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable th[scope=row]:nth-child(4) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable th[scope=row]:nth-child(5) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable th[scope=row]:nth-child(6) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}

.THIS .maintable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}
.THIS .maintable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}

.THIS .maintable th:not([scope=row]):nth-child(1) {
  left: 0 !important;
  z-index: 9999 !important;
}
.THIS .maintable th:not([scope=row]):nth-child(2) {
  left: 4em !important;
  z-index: 9999 !important;
}
.THIS .maintable .zindexPrd {
  left: 22em !important;
  z-index: 9999 !important;
}
.THIS .maintable .zindexPkg {
  left: 42em !important;
  z-index: 9999 !important;
}
.THIS .maintable th:not([scope=row]):nth-child(3) {
  left: 14em !important;
  z-index: 9999 !important;
}
.THIS .maintable .zindex {
  left: 47em !important;
  z-index: 9999 !important;
}



/* Scrolling wrapper */

.THIS div[tabindex="0"][aria-labelledby][role="region"] {
 /* overflow: auto !important;*/
}



/* Strictly for making the scrolling happen. */

.THIS .maintable th[scope=row] {
  min-width: 40vw !important;
}

@media all and (min-width: 30em) {
  .THIS .maintable th[scope=row]:nth-child(1) {
    min-width: 4em !important;
  }
    .THIS .maintable th[scope=row]:nth-child(2)  {
    min-width: 10em !important;
  }
    .THIS .maintable th[scope=row]:nth-child(3)  {
    min-width: 8em !important;
  }
    .THIS .maintable th[scope=row]:nth-child(4)  {
    min-width: 20em !important;
  }
    .THIS .maintable th[scope=row]:nth-child(5)  {
    min-width: 5em !important;
  }
    .THIS .maintable th[scope=row]:nth-child(6)  {
    min-width: 15em !important;
  }
}
.THIS .maintable .slds-table thead th{
    line-height:20px !important;
}
.THIS th[scope=row] + td {
 /* min-width: 24em !important;*/
}
.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 80px;
}
.THIS .slds-accordion__summary-action {
   display: inline-flex;
   flex-grow: 1;
   align-items: center;
   min-width: 0;
   background: #e2e4e6  !important;
   line-height: 1.675rem  !important;
   padding: 5px  !important;
   font-size: 1.1em !important;
   color: darkslategrey !important;
    margin:0 !important;
}

.THIS div[tabindex="0"][aria-labelledby][role="region"]:nth-child(1) {
  /*max-height: 1em !important;
  margin: 0 1em !important;*/
}

.THIS .maintable.fixedtable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .maintable.fixedtable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}

.THIS .maintable.fixedtable th[scope=row]:nth-child(1) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable.fixedtable th[scope=row]:nth-child(2) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable.fixedtable th[scope=row]:nth-child(3) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable.fixedtable th[scope=row]:nth-child(4) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable.fixedtable th[scope=row]:nth-child(5) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable.fixedtable th[scope=row]:nth-child(6) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}

.THIS .maintable.fixedtable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}
.THIS .maintable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}

.THIS .maintable.fixedtable th:not([scope=row]):nth-child(1) {
  left: 0 !important;
  z-index: 9999 !important;
}
.THIS .maintable.fixedtable th:not([scope=row]):nth-child(2) {
  left: 0 !important;
  z-index: 9999 !important;
}
.THIS .maintable.fixedtable .zindexPrd {
  left: 0 !important;
  z-index: 9999 !important;
}
.THIS .maintable.fixedtable .zindexPkg {
  left: 0 !important;
  z-index: 9999 !important;
}
.THIS .maintable.fixedtable th:not([scope=row]):nth-child(3) {
  left: 0 !important;
  z-index: 9999 !important;
}
.THIS .maintable.fixedtable .zindex {
  left: 0 !important;
  z-index: 9999 !important;
}



/* Scrolling wrapper */

.THIS div[tabindex="0"][aria-labelledby][role="region"] {
 /* overflow: auto !important;*/
}



/* Strictly for making the scrolling happen. */

.THIS .maintable.fixedtable th[scope=row] {
  min-width: 40vw !important;
}

@media all and (min-width: 30em) {
  .THIS .maintable.fixedtable th[scope=row]:nth-child(1) {
    min-width: 4em !important;
  }
    .THIS .maintable.fixedtable th[scope=row]:nth-child(2)  {
    min-width: 10em !important;
  }
    .THIS .maintable.fixedtable th[scope=row]:nth-child(3)  {
    min-width: 8em !important;
  }
    .THIS .maintable.fixedtable th[scope=row]:nth-child(4)  {
    min-width: 20em !important;
  }
    .THIS .maintable.fixedtable th[scope=row]:nth-child(5)  {
    min-width: 5em !important;
  }
    .THIS .maintable.fixedtable th[scope=row]:nth-child(6)  {
    min-width: 15em !important;
  }
}