.THIS .tablecss .slds-table tr th:first-child{
    padding-left: 1px !important;  
}
.THIS .tablecss .slds-table tr td:first-child{
    padding-left: 1px !important;  
}
.THIS .slds-modal__content {
    background-color: var(--sds-c-modal-content-color-background, var(--sds-c-modal-color-background, var(--lwc-colorBackgroundAlt,rgb(255, 255, 255))));
                    color: var(--sds-c-modal-content-text-color, var(--sds-c-modal-text-color));
                            overflow: hidden;
                            overflow-y: hidden;
                        }
                        .THIS lightning-primitive-header-actions {
                            display: none;
                        }
                        .THIS .image {
                            max-width: 10% !important;
                            height: 10% !important;
                        }
                        .THIS .slds-truncate {
                            text-overflow: inherit;
                            white-space: normal;
                            word-wrap: break-word;
                            overflow-wrap: break-word; 
                        }