.THIS .rows {
	padding: 4px;
}
.THIS total td{
    color:#000000;
  background-color: #a1a1a1; 
     }

.THIS .customTable
{
    border: 0.5px solid black;
    width:100%;
     padding-right:100px;
  
    
}
.THIS .customTable thead tr th:nth-child(1) { 
    padding-right:100px;
}
.THIS tr ,.THIS td{
    color:#000000;
}
.THIS #styleids th 
{
    padding: 4px; 
    color:#FFFFFF;
   background-color: #8c00ff;    
}
.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    padding-right:100px;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
    margin:0 !important;
}
.THIS #styleids  th:nth-child(1)
{
    
     width: 300px !important;
}
.THIS .tooltip { 
    pointer-events: none;
}
.THIS .alignTextMiddle{
    display: inline-block;
    vertical-align: middle;
    font-size:20px;
    color:black;
}
.THIS .modalShadowRemove{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.THIS .table {
    height: 430px;
    overflow: auto;
    margin-top: 10px;
    border-radius: 0.25rem;
    border: 2px solid #cfcfcf;
}
.THIS .rows {
    padding: 5px;
}
.THIS total td{
    color:#000000;
  background-color: #a1a1a1; 
     }

.THIS .customTable
{
    border: 2px solid grey;
    font-size :14px;
    width:100%;
    padding-right:100px;
    
    
}
.THIS .customTable thead tr th:nth-child(1) { 
    padding-right:100px;
}
.THIS tr ,.THIS td{
    color:#000000;
}
.THIS #styleids th 
{
    padding: 4px; 
    color:#FFFFFF;
   background-color: #8c00ff;    
}