.THIS.slds-modal {
    width: 195%;
    left: -40%;
}
.THIS.slds-modal:focus {
    outline: none !important;
}
.THIS .slds-modal__content {
    min-height: 16rem;
}
.THIS .slds-modal__container{
    width:100%;
}
.THIS .attach-to-bottom{
    position: absolute;
    margin-left:0px;
    margin-right:-200px;
    width: 100%;
}
.THIS.strong-text {
    font-weight: bold;
}
.THIS.slds-modal__header{
    font-weight: bold;
    font-weight: var(--lwc-fontWeightBold,700);
        }
        .THIS .slds-form-element__label{
            font-size: 1.00rem !important;
        }