.THIS .headerSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 9 !important;
    background-color:white;
}
.THIS .SalesUnits{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 29px !important;
    z-index: 9 !important;
    background-color:white;
}
.THIS .summaryVal{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 46px !important;
    z-index: 9 !important;
    background-color:#F3F3F3;;
}
.THIS .aboveSummary{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 29px !important;
    left:0px !important;
    z-index: 999 !important;
    background-color:#F3F3F3;
}
.THIS .hospitalheaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px !important;
    left :0px !important;
    z-index: 999 !important;
    background-color:white;
}
.THIS .summaryheaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 46px !important;
    left :0px !important;
    z-index: 9999 !important;
    background-color:#F3F3F3;
}

.THIS .slds-form-element__label {
    font-weight: bold;
}
.THIS .showBlack svg{ fill: white; 
}
.THIS .whiteIcon svg{
    fill:white;
}
.THIS .textInput {
    color: black;
    font-weight: bold;
 }
.THIS .table--header {

    position: fixed;
    height: 450px;
}
 .THIS.myBtn  {
        padding: 10px 24px;
    }
.THIS .slds-modal__container {
  width: 70% !important;
  max-width: 60rem !important;
}
/*.THIS .slds-truncate {
    max-width: 100%;
}*/

/*.THIS .hospital{
    color:black;
    width:8%;
}
.THIS .th1{
    color:black;
    width:2%;
}
.THIS .th2{
    color:black;
    width:2%;
}
.THIS .th3{
    color:black;
    width:2%;
}
.THIS .th4{
    color:black;
    width:2%;
}
.THIS .th5{
    color:black;
    width:2%;
}
.THIS .th6{
    color:black;
    width:2%;
}
.THIS .th7{
    color:black;
    width:2%;
}
.THIS .th8{
    color:black;
    width:2%;
}
.THIS .th9{
    color:black;
    width:2%;
}*/