.THIS .modalShadowRemove{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.THIS .selectedValue {
    color:black;
    font-weight:bold;
}
.THIS .custColumn1{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    z-index: 9 !important;
    background-color:#257CFF;
}
.THIS .headerOfTable{
   position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
    background-color: #FEB343;
}
.THIS .rowOfTable{
   position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 8 !important;
    background-color: #FEB343;
}
.THIS .userInputBox {
    padding-right: 5px;
}
.THIS .whiteIcon svg{
    fill:white;
}
.THIS .purpleIcon svg{
    fill:#5224B2;
}
.THIS .lessThanCss svg{
    fill:white;  
}
.THIS .IconColor svg{
   fill:white !important;
    margin-top: -4px !important;
}
.THIS .dohIcon svg{
    fill:green;
}
.THIS .dohAshIcon svg{
    fill:grey;
}
.THIS .qohIcon svg{
    fill:red;
}
.THIS .iconCSS1{
    margin-top: -4px !important;
}
.THIS .wrapCSS{
    word-break: break-all;
}
.THIS .iconCSS{
    margin-top: -10px !important;
}
.THIS .close svg{
    fill:white;
}
.THIS .bgModalColor{
--slds-c-backdrop-color-background  : black;  
      opacity: 0.50;
}

/*.THIS .pkgSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 350px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #F9F2E0;
}*/
/*.THIS .itemStickyData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
} */
/*
.THIS .pkgStickyData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 350px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}*/
/*.THIS .skuTopSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    Top: 27.5px !important;
    position: fixed;
    z-index: 99 !important;
} 
.THIS .itemTopSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    Top: 27.5px !important;
    position: fixed;
    z-index: 99 !important;
}
.THIS .pkgTopSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    Top: 27.5px !important;
    position: fixed;
    z-index: 9 !important;
}
.THIS .columnTopSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    Top: 27.5px !important;
    position: fixed;
    z-index: 9 !important;
}
.THIS .subcolumnTopSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    Top: 56px !important;
    position: fixed;
    z-index: 9 !important;
} */
.THIS #styleids  th:nth-child(3)
{
    
     width: 20px !important;
}
.THIS .styleids  tr th:nth-child(3) { 
  width: 20px !important;
}
.THIS .fixed {
        table-layout:fixed;
        overflow: hidden;
        max-width: 200px !important;
}
/*    
.THIS .fixedProductColumn {
        table-layout:fixed;
        overflow: hidden;
        max-width: 350px !important;
}*/