.THIS th{
    padding: 4px;
 white-space: nowrap;
}

.THIS .disabledClass{
    
    color: #666666;
}

.THIS td{
    padding: 4px;
     white-space: nowrap;
}
.THIS .customTable th {
  vertical-align: bottom !important;
    background-color: #e5e5e5 !important;
    color: black !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    /*top: 0 !important;
    z-index: 0 !important;*/
}
.THIS .mainHeaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1 !important;
    background-color:#efefef;
}
.THIS .customTable td {
  vertical-align: bottom !important;
  color: black !important;
}

/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
.THIS .slds-combobox__form-element {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    flex-direction: column;
}

.THIS .boldLabel label{
    font-weight: bold !important;
}
.THIS .buttonCSS{
    font-size: 13px !important;
}

.THIS .slds-button_brand {
    background-color: #5224B2 !important;
    border: 1px #5224B2 solid !important;
}

.THIS .slds-button_icon svg{
    fill: #5224B2 !important;
}