.THIS .removeLabelClass .slds-form-element__label{
    display: none !important;
}
.THIS .modalPopupClass{
    width: 75% !important;
	max-width: 80% !important;
}
.THIS .annualUnitInput input{
    text-align:right;
}
.THIS .customtable th {
    vertical-align: bottom !important;
    background-color: #f2f2f2;
    color:black;
}

.THIS .customtable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}

.THIS .customtable th[scope=row]:nth-child(1) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0px !important;
    z-index: 1 !important;
} 
.THIS .customtable th[scope=row]:nth-child(2) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 20px !important;
    z-index: 1 !important;
} 
.THIS .customtable th[scope=row]:nth-child(3) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 39px !important;
    z-index: 1 !important;
}
.THIS .customtable th[scope=row]:nth-child(4) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 59px !important;
    z-index: 1 !important;
}
.THIS .customtable th[scope=row]:nth-child(5) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 78px !important;
    z-index: 1 !important;
}  

.THIS .customtable th[scope=row]:nth-child(6) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 98px !important;
    z-index: 1 !important;
}

.THIS .customtable th[scope=row]:nth-child(7) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 117px !important;
    z-index: 1 !important;
}
/*.THIS .customtable th[scope=row]:nth-child(8) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 137px !important;
    z-index: 1 !important;
}*/

.THIS .matchedTable .customtable th[scope=row]:nth-child(8) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 137px !important;
    z-index: 1 !important;
}

.THIS .matchedTable .customtable th[scope=row]:nth-child(9) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 157px !important;
    z-index: 1 !important;
}


.THIS .customtable th[scope=row] {
    vertical-align: top !important;
    color: inherit !important;
}

.THIS .customtable th:not([scope=row]):nth-child(1) {
    left: 0px !important;
    z-index: 999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(2) {
    left: 20px !important;
    z-index: 999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(3) {
    left: 39px !important;
    z-index: 999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(4) {
    left: 59px !important;
    z-index: 999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(5) {
    left: 78px !important;
    z-index: 999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(6) {
    left: 98px !important;
    z-index: 999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(7) {
    left: 117px !important;
    z-index: 999 !important;
}
/*.THIS .customtable th:not([scope=row]):nth-child(8) {
    left: 137px !important;
    z-index: 999 !important;
}*/
.THIS .matchedTable .customtable th:not([scope=row]):nth-child(8) {
    left: 137px !important;
    z-index: 999 !important;
}

.THIS .green svg {
    fill : green !important;
}
.THIS .red svg {
    fill : red !important;
}
.THIS .orange svg {
    fill : orange !important;
}
.THIS .gray svg {
    fill : gray !important;
}
.THIS .white svg {
    fill : white !important;
}
.THIS .pagination { 
    /*overflow:hidden;*/
    height:30px;
    text-align:center; 
    padding:0; 
    position:relative; 
    margin:10px 10px;
}
.THIS .pagination2 { 
    /*overflow:hidden;*/
    height:10px;
    text-align:center; 
    padding:0; 
    margin:10px 10px;
}
.THIS .pagination2 .navlink  { 
    position:absolute; 
    top:0;
}
.THIS .pagination2 .nextlink { 
    right:0;
    margin-right:10px;
}
.THIS .pagination .navlink  { 
    position:absolute; 
    top:0;
}
.THIS .pagination .nextlink { 
    right:0;
}
.THIS .midbox { 
    display:inline-block; 
    vertical-align:top;
}
.THIS .infoTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.THIS .infoTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.THIS .discrepancytable th {
    vertical-align: bottom !important;
    background-color: #f2f2f2;
    color:black;
}
.THIS .discrepancytable td[scoper=row]:nth-child(1){
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0px !important;
    z-index: 1 !important;
}

.THIS .discrepancytable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}

.THIS .discrepancytable th[scope=row]:nth-child(1) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0px !important;
    z-index: 1 !important;
} 
.THIS .discrepancytable th[scope=row]:nth-child(2) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 32px !important;
    z-index: 1 !important;
} 
.THIS .discrepancytable th[scope=row]:nth-child(3) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 52px !important;
    z-index: 1 !important;
}
.THIS .discrepancytable th[scope=row]:nth-child(4) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 72px !important;
    z-index: 1 !important;
}
.THIS .discrepancytable th[scope=row]:nth-child(5) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 92px !important;
    z-index: 1 !important;
}  

.THIS .discrepancytable th[scope=row]:nth-child(6) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 112px !important;
    z-index: 1 !important;
}

.THIS .discrepancytable th[scope=row]:nth-child(7) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 132px !important;
    z-index: 1 !important;
}

.THIS .discrepancytable th[scope=row]:nth-child(8) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 152px !important;
    z-index: 1 !important;
}
.THIS .discrepancytable th[scope=row]:nth-child(9) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 172px !important;
    z-index: 1 !important;
}
.THIS .discrepancytable th[scope=row]:nth-child(10) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 192px !important;
    z-index: 1 !important;
}
.THIS .discrepancytable th[scope=row]:nth-child(11) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 212px !important;
    z-index: 1 !important;
}
.THIS .discrepancytable th[scope=row]:nth-child(12) {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 629px !important;
    z-index: 1 !important;
}



.THIS .discrepancytable th[scope=row] {
    vertical-align: top !important;
    color: inherit !important;
}

.THIS .discrepancytable th:not([scope=row]):nth-child(1) {
    left: 0px !important;
    z-index: 999 !important;
} 
.THIS .discrepancytable th:not([scope=row]):nth-child(2) {
    left: 32px !important;
    z-index: 999 !important;
} 
.THIS .discrepancytable th:not([scope=row]):nth-child(3) {
    left: 52px !important;
    z-index: 999 !important;
}
.THIS .discrepancytable th:not([scope=row]):nth-child(4) {
    left: 72px !important;
    z-index: 999 !important;
}
.THIS .discrepancytable th:not([scope=row]):nth-child(5) {
    left: 92px !important;
    z-index: 999 !important;
}  

.THIS .discrepancytable th:not([scope=row]):nth-child(6) {
    left: 112px !important;
    z-index: 999 !important;
}

.THIS .discrepancytable th:not([scope=row]):nth-child(7) {
    left: 132px !important;
    z-index: 999 !important;
}

.THIS .discrepancytable th:not([scope=row]):nth-child(8) {
    left: 152px !important;
    z-index: 999 !important;
}
.THIS .discrepancytable th:not([scope=row]):nth-child(9) {
    left: 172px !important;
    z-index: 999 !important;
}
.THIS .discrepancytable th:not([scope=row]):nth-child(10) {
    left: 192px !important;
    z-index: 999 !important;
}
.THIS .discrepancytable th:not([scope=row]):nth-child(11) {
    left: 212px !important;
    z-index: 999 !important;
}
.THIS .discrepancytable th:not([scope=row]):nth-child(12) {
    left: 629px !important;
    z-index: 999 !important;
}
.THIS .inputWidth{
    width:10rem;
}

.THIS .showGreen svg {
    fill : green !important;
}

.THIS .showBlack svg{
    fill : black !important;
}

.THIS .prodFamSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    position: absolute;
    left: 0 !important;
    z-index: 999 !important;
}
.THIS .mergeBox{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    background-color:white !important;
    border: 1px solid #fff;
    border-left-color: #d1d1d1;
    border-right-color: #d1d1d1;
    border-top-color: #d1d1d1;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    padding-left:10px;
    padding-top:3px;
}