.THIS.slds-tabs_default{
background-color:white !important;    
}
.THIS .slds-modal__container{
    width: 70% !important;
    max-width: 60rem !important;
}
.THIS .inputSize {
    width:100%; 
}
.THIS .heightClass{
    height:400px !important;
}
.THIS .noheightClass{
    height:auto !important;
}
.THIS .customtable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .customtable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
 
}
.THIS .customtable th[scope=row] {
  min-width: 40vw !important;
}
@media all and (min-width: 30em) {
  .THIS .customtable td[scope=row]:nth-child(12) {
    min-width: 10em !important;
  }
    .THIS .customtable td[scope=row]:nth-child(13) {
    min-width: 10em !important;
  }
   
}
.THIS .customtable .slds-table thead th{
    line-height:15px !important;
}

.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 80px;
}