.THIS .table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure the container takes up the full width */
}

.THIS .scrollable-table {
    width: 100%;
    
}

.THIS .scrollable-table th, .THIS .scrollable-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .iconCSS{
    margin-top: -12px !important;
}