.THIS .hide123 
{                               
    display: none;
    background:red;
}
.THIS.slds-card{
    right: 223px;
}
.THIS .noheightClass{
    width:9000px !important;
    right: 225px !important;
}
.THIS .customBIcon {
    background-color: white; 
    padding-left: 11px !important; 
    padding-right: 3px !important;
    width:20px !important;
     height:15px !important;
}