.THIS .paddingClass {
padding-left:10px;
}
.THIS .buttonClass {
    width : 100%;
}
.THIS .walgreenOutputCSS {
    margin-top : 2.5%;
}
.THIS .outputValCSS {
    font-weight:bold;
    font-size:40px;
    color:#6900EF;
}
.THIS .imgCSS {
width: 300px;
    margin-left: 10%;
    margin-top: 5%;
}
.THIS .boxCss{
    border-radius:12px;
    border-style:solid;
    border-color:rgba(78, 35, 170, 0.17);
    border-width:2px;
    padding:25px;
   /* background-color:#F9F8FC;
    margin-left:1%;
    margin-top:1%;
    margin-bottom:1%;
    margin-right:60%;*/
}
.THIS .slds-form-element__label{
    font-weight:bold !important;
}