.THIS .modalShadowRemove{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.THIS .fc-day-header {
    color:#5d36b1;
    border-color:#e0cbfc;
    background-color:#ece0fd;
    border-width:2px;
}
.THIS .fc-week-number{
    color:#5d36b1;
    border-color:#e0cbfc;
    background-color:#ece0fd;
    border-width:2px;
}
.THIS .fc-day-number{
    font-size: 15px;
}
.THIS .fc-button{
    background-color: white;
    border-color:#e0cbfc;
    color:#5d36b1;
    background-image: none;
}
.THIS .fc-center{
    font-weight: bold;
    
}
.THIS .listBtn{
    background-color: white;
    border-color:#e0cbfc;
    color:#5d36b1;
    background-image: none;
}
.THIS .listBtn:focus{
    background-color: #5d36b1;
    color:white;
}
.THIS .fc-button:focus {
    background-color: #5d36b1;
    color:white;
}
.THIS .fc-add_task-button{
    border-radius: 50px;
}
.THIS .fc-add_alert-button{
    border-radius: 50px; 
}
.THIS .fc-add_notification-button{
    border-radius: 50px;
}
.THIS .fc-day{
    border-color:#ccdfff;
    border-width:2px;
}
.THIS .fc-day-number{
    font-weight: bold;
}
.THIS .fc-today-button{
    content:"test";
}
.THIS .btncolor {
    color: #5d36b1;
    background-color: white;
    border-radius: 15px;
    font-weight: 16px;
    
}
.THIS .maintable{
    border: 1px solid black;
}
.THIS .purpleIcon svg{
    fill:#5224B2;
}

.THIS .box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}

.THIS .red {
  background-color: red;
}

.THIS .green {
  background-color: rgb(0,128,0);
}

.THIS .orange {
  background-color: orange;
}

.THIS .bottompadding{
     padding-bottom: 1px;
}
.THIS .bottompadding1{
     padding-bottom: 1px;
}
.THIS .bottompadding2{
     padding-bottom: 1px;
}