.THIS .red {
    color: red;
}

.THIS .slds-form-element__control {
   /* padding-left: 15px !important;*/
}

.THIS .slds-form-element__label {
    display: none !important;
}
.THIS.cBidLineItemEditDemoCmp .slds-modal__container {
    width: 100% !important;
    max-width: 80rem !important;
}
.THIS .historyTable table, .THIS .historyTable th, .THIS .historyTable td {
    border: 1px solid rgb(221, 219, 218);
    

}
.THIS .totalsTable table, .THIS .totalsTable th, .THIS .totalsTable td {
    border: 1px solid rgb(221, 219, 218);
    border-radius:20px;

}
.THIS .infoColor svg{
    fill:#4B0082;
}

.THIS .historyTable table, .THIS .historyTable th{
    text-align: center;
}
.THIS .totalsTable table, .THIS .totalsTable th{
    text-align: center;
}
.THIS .historyTable th{
    font-weight: bold;
    color: rgba(93, 87, 96, 0.91);
 
}
.THIS .historyTable h2{
    color: rgba(93, 87, 96, 0.91);
    text-align: left;
    
}
.THIS .totalsTable h2{
    color:cadetblue; 
    font-size:1.25rem;
}
.THIS .mainHeader {
    text-align: center;
    color: rgba(93, 87, 96, 0.91);
}
.THIS  .mainTotalHeader {
    text-align: center;
    color: cadetblue;
}
.THIS .historyTable p{
    color: rgba(93, 87, 96, 0.91);
    text-align: left;
}

.THIS .numberStle{
    color: grey;
    text-align: left;
    font-size:1.25rem;
}
.THIS .historyTable .column {
    float: Left;
    width: 25%;
    padding: 10px;
    /*height: 215px;*/
}
.THIS .totalsTable .column {
    float: Left;
    width: 33%;
    padding: 10px;
    /*height: 215px;*/
}
.THIS .row:after {
    content: "";
    display: table;
    clear: both;
}
.THIS .hrline {
    margin-top: 1px;
    margin-bottom: 1px;
    width: 60%;
}
.THIS .fantasy-tab-switcher{
    display: flex;
    padding:2px;
    height:38px;
    box-shadow:1px 1px 4px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    border-radius:28px;
    clear:both;
} 
.THIS .all-innings-parent-div .fantasy-tab-switcher{
    max-width:max-content !important;
    margin:12px 12px 4px;
    width:auto;
}
.THIS .fantasy-tab-switcher .fantasy-tab-button {
	flex: 1;
	border: none;
	background-color: inherit;
	border-radius: 28px;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	color: #999999;
	outline: none;
	transition: background-color, color .3s ease-in;
	cursor: pointer;
}
.THIS .fantasy-tab-switcher .fantasy-tab-button.toggle-button-active.current {
	background-color: #7B68EE ; /*#9ACD32*/
	color: #FFFFFF;
}
.THIS .fantasy-tab-switcher .fantasy-tab-button.toggle-button-active.previous {
	background-color: #9ACD32 ; /*#9ACD32*/
	color: #FFFFFF;
}