.THIS .sapdata {
    text-align: left;
}
.THIS .spinColor{
    background-color:transparent;
}
.THIS .heightClass{
    height:300px !important;
}
.THIS .noheightClass{
    height:auto !important;
}
.THIS .btn{
    margin-right:7px;
    float: right;
}

.THIS .customtable th {
    vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
    color:black !important;
}
.THIS .customtable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
    
}
.THIS .maintable th {
    vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
    color:black !important;
}
.THIS .maintable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
    padding-left: 0px !important;
}

.THIS .customBIcon2 {
    background-color: white; 
    padding-left: 9px !important; 
    padding-right: 2px !important;
    margin:0 0.3rem;
    float:right;
}
.THIS.slds-text-align_left {
      text-align: -webkit-center;
    padding-left: 5px;
}
.THIS .headerText{
    text-align: center;
}
.THIS .customBIcon {
    background-color: white; 
    padding-left: 9px !important; 
    padding-right: 2px !important;
}
.THIS .customBIconFileDel {
    background-color: white; 
    padding-left: 11px !important; 
    padding-right: 3px !important;
    width:20px !important;
    height:15px !important;
}
.THIS .customLookup {
    border-left-color: #ce0000; border-left-width: 3px;
}
.THIS .selected{
    color:orange;
}

.THIS .customContainer{
    padding-top:1%;
    background-color:white;
    color:#6b6d70;
}

.THIS .txtArea textarea{
    /*height:70px !important;*/   
    height:63px;
} 

.THIS .hiddenLabel label{
    display:none;
}
.THIS.slds-tabs_default{
    background-color:white !important;    
}
.THIS .slds-modal__container{
    width: 70% !important;
    max-width: 60rem !important;
}

.THIS.heightClass{
    height:350px !important;
}
.THIS.noheightClass{
    height:150 !important;
}
.THIS .maintable th {
    vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
    color:black !important;
}
.THIS .maintable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
}



.THIS .maintable th[scope=row] {
    vertical-align: top !important;
    color: inherit !important;
}
.THIS .maintable th[scope=ro] {
    vertical-align: top !important;
    color: inherit !important;
}




/* Scrolling wrapper */

.THIS div[tabindex="0"][aria-labelledby][role="region"] {
    /* overflow: auto !important;*/
}



/* Strictly for making the scrolling happen. */

.THIS .maintable th[scope=row] {
    min-width: 10vw !important;
}


.THIS .maintable .slds-table thead th{
    line-height:20px !important;
}
.THIS th[scope=row] + td {
    /* min-width: 24em !important;*/
}
.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 80px;
}
.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
    margin:0 !important;
}

.THIS div[tabindex="0"][aria-labelledby][role="region"]:nth-child(1) {
    /*max-height: 1em !important;
    margin: 0 1em !important;*/
}
/*------------Latest Styles-------------*/
.THIS .colorClass {
    border:1px solid red !important;  
}
.THIS .noColorClass {
    
}
.THIS .header-fields-align {
    margin-left:40px !important;   
}

.THIS .slds-table_header-fixed thead th .slds-table--header-fixed thead th {
    padding-left: 8px;
    border-top: 0;
}
.THIS .slds-table--header-fixed thead th{
    padding-left: 8px;
    border-top: 0;    
}

.THIS .slds-accordion__summary-heading > button > lightning-primitive-icon {
    display: none;
}
.THIS .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .slds-datepicker .slds-day{
    width: auto !important;
    min-width: auto !important;
    height: 12px !important;
    line-height: inherit !important;
}.THIS .cTable.slds-table_fixed-layout tbody {
    transform: none !important;
}