.THIS .drlTh{
    background-color:#6C3483;
    color:white;
}
.THIS .drlMkrtShare{
    background-color: #58d68d;
    color:white;
}
.THIS .totalMkrtShare{
    background-color: #27ae60;
    color:white;
}
.THIS .estMrktShare{
    background-color:#85C1E9;
}
.THIS .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .slds-datepicker .slds-day{
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
.THIS .cNameTable.slds-table_fixed-layout tbody {
    transform: none !important;
}
@media (min-width: 48em){
    .THIS .slds-modal__container {
        padding:0 !important;
        margin: 0 auto !important;
        width: 100% !important;
        max-width: 90rem !important;
        min-width: 30rem !important;
    }
}
.THIS .middleAlignInput input{
    text-align: right;
    height: 10px;
    padding: 5px;
}
.THIS .headerOfTable{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
}
.THIS .prodFamSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    position: absolute;
    left: 0 !important;
    z-index: 999 !important;
}
.THIS .prodFamColSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    z-index: 9 !important;
    background: rgba(252, 252, 252, 1) !important;
}

.THIS .rosDefaultsBoxFam{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    border: 1px solid #fff;
    border-color: #d1d1d1;
    border-radius:5px;
    padding:3px;
}
.THIS .rosDefaultsBox{
        left: 0 !important;
    border: 1px solid #fff;
    border-left-color: #d1d1d1;
    border-right-color: #d1d1d1;
    border-bottom-color: #d1d1d1;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:3px;
}