.THIS .alignTextMiddle{
    display: inline-block;
    vertical-align: middle;
    font-size:14px;
}
.THIS .prodcheckBoxSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    position: absolute;
    left: 0 !important;
    z-index: 9999 !important;
}
.THIS .prodmolSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    position: absolute;
    left: 12px !important;
    z-index: 9999 !important;
}
.THIS .prodsegSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    position: absolute;
    left: 243.81px !important;
    z-index: 9999 !important;
}
.THIS .checkboxSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    z-index: 9 !important;
    background: rgba(252, 252, 252, 1) !important;
}
.THIS .molculeSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    left:12px  !important;
    z-index: 9 !important;
    background: rgba(252, 252, 252, 1) !important;
}
.THIS .segmentSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 243.81px !important;
    z-index: 9 !important;
    background: rgba(252, 252, 252, 1) !important;
}
/*
.THIS.slds-modal__container{
    max-width: 100rem !important;
    width:100% !important;
    transform: translate(0,0) !important;
}
*/
.THIS .removeLabelDiv .slds-form-element__label{
    display: none !important;
    width: 12px !important;
}

.THIS .sapdata {
    text-align: left;
    
    
}
.THIS .spinColor{
    background-color:transparent;
}

.THIS .btn{
    margin-right:7px;
    float: right;
}
.THIS .whiteIcon svg{
    fill:white;
}
.THIS .customtable th {
    vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
    color:black !important;
}
.THIS .customtable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
    
}
.THIS #styleids th 
{
    padding: 5px; 
}
.THIS .maintable th {
    vertical-align: bottom !important;
    background-color: #5224B2 !important;
    color:black !important;
}
.THIS .maintable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    color:White !important;
    z-index: 9 !important;
    padding-left: 0px !important;
}



.THIS .customBIcon2 {
    background-color: white; 
    padding-left: 9px !important; 
    padding-right: 2px !important;
    margin:0 0.3rem;
    float:right;
}
.THIS .loadModal{
   height : 100%;
    width: 70%;
    max-width: 50rem;  
}
/*
.THIS .slds-modal__container{
    height : 100%;
    width: 70%;
    max-width: 50rem;
} 
*/
.THIS .headerText{
    text-align: center;
}
.THIS .customBIcon {
    background-color: white; 
    padding-left: 9px !important; 
    padding-right: 2px !important;
}
.THIS .customLookup {
    border-left-color: #ce0000; border-left-width: 3px;
}
.THIS .selected{
    color:orange;
}

.THIS .customContainer{
    padding-top:1%;
    background-color:white;
    color:#6b6d70;
}

.THIS .txtArea textarea{
    /*height:70px !important;*/   
    height:63px;
} 

.THIS .hiddenLabel label{
    display:none;
}

/* Styles for Contracts view */

.THIS .inline-container {
    display: inline-flex;
}

.THIS .padding-right {
    padding-right: 20px;
}
.THIS .showcontwrap span.slds-checkbox {white-space: nowrap;}

.THIS .setHeight{
    height:95vh !important;
}
.THIS .slds-theme_success {
    
  background-color: #D3D3D3;
}
.THIS .modalShadowRemove{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.THIS .columnTopSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    color:White !important;
    z-index: 9 !important;
    padding-left: 0px !important;
}