.THIS.cWalgreensTemplateChild .slds-form-element__control {
    padding-left: 0px!important;
}
.THIS.cEcondiscDesignTemplateChildCmp .slds-form-element__control {
    padding-left: 0px!important;
}
.THIS.test{ width: 100% !important;
    height: 100% !important;
    }