.THIS.cPhoenix_PopUp_Bids_PastDueAnd_DueToday .slds-modal__container {
    width: 100% !important;
    max-width: 80rem !important;
}
.THIS.slds-table thead th {
  background-color:#7FFFD4;
}
/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 4px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
.THIS .slds-combobox__form-element {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    flex-direction: column;
}