.THIS .customtable th {
    vertical-align: bottom !important;
}
.THIS .customtable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
}