.THIS.slds-tabs_default{
background-color:white !important;    
}
.THIS .slds-modal__container{
    width: 70% !important;
    max-width: 60rem !important;
}
.THIS .inputSize {
    width:100%; 
}
.THIS .heightClass{
    height:400px !important;
}
.THIS .noheightClass{
    height:auto !important;
}
.THIS .maintable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .maintable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
 
}
.THIS .maintable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}
.THIS .maintable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}


.THIS .maintable td[scope=row]:nth-child(1) {
  position: -webkit-sticky !important;
  background-color: #f2f2f2 !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .maintable td[scope=row]:nth-child(2) {
  position: -webkit-sticky !important;
  background-color: #f2f2f2 !important;
  position: sticky !important;
  left: 4em !important;
  z-index: 1 !important;
}
.THIS .maintable td[scope=row]:nth-child(3) {
  position: -webkit-sticky !important;
  position: sticky !important;
  background-color: #f2f2f2 !important;
  left: 11em !important;
  z-index: 1 !important;
}

.THIS .maintable th:not([scope=row]):nth-child(1) {
  left: 0 !important;
  z-index: 9999 !important;
}
.THIS .maintable th:not([scope=row]):nth-child(2) {
  left: 4em !important;
  z-index: 9999 !important;
}
.THIS .maintable th:not([scope=row]):nth-child(3) {
  left: 11em !important;
  z-index: 9999 !important;
}
/* Scrolling wrapper */

.THIS div[tabindex="0"][aria-labelledby][role="region"] {
 /* overflow: auto !important;*/
}



/* Strictly for making the scrolling happen. */

.THIS .maintable th[scope=row] {
  min-width: 40vw !important;
}

@media all and (min-width: 30em) {
  .THIS .maintable td[scope=row]:nth-child(3) {
    min-width: 11em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(1) {
    min-width: 4em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(11)  {
    min-width: 10em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(12)  {
    min-width: 15em !important;
  }
   
    .THIS .maintable td[scope=row]:nth-child(4)  {
    min-width: 15em !important;
  }
   .THIS .maintable td[scope=row]:nth-child(5)  {
    min-width: 12em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(6) {
    min-width: 7em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(7)  {
    min-width: 7em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(2) {
    min-width: 7em !important;
  }
   
    .THIS .maintable td[scope=row]:nth-child(8)  {
    min-width: 10em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(9) {
    min-width: 10em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(10)  {
    min-width: 10em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(13)  {
    min-width: 15em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(14) {
    min-width: 15em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(15)  {
    min-width: 15em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(16)  {
    min-width: 14em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(17)  {
    min-width: 10em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(18)  {
    min-width: 10em !important;
  }
}
.THIS .maintable .slds-table thead th{
    line-height:15px !important;
}
.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
    margin:0 !important;
}

.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 80px;
}