.THIS .blackIcon svg{
    fill:black;
}
.THIS .classQ {
    color:blue;
}

.THIS .miniBarProgress {
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.THIS .miniBar {
    height: 0.5rem;
    border: 1px solid #8a898a;
    position: relative;
    width: -webkit-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem);
    margin-right: 0.5rem;
}

.THIS .table-class{
    
    margin-left: 20px;
}

.THIS .main-header{
    
    
}



.THIS .circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%; 
    margin-right: 5px;
    vertical-align: middle;
    font-weight:bold;
}

.THIS .blue {
    background-color: #5072F1; 
}

.THIS .red {
    background-color: #EB4747; 
}

.THIS .green {
    background-color: #579857; 
}

.THIS .pink {
    background-color: #F7C5CC; 
}