.THIS {
}

.THIS .slds-box {
    /* border: 1px solid grey;*/
    
}

.THIS .sapdata {
    text-align: left;
    
    
}
.THIS .customtable td {
 line-height:0px;
}
.THIS .spinColor{
    background-color:transparent;
}

.THIS .btn{
    margin-right:7px;
    float: right;
}

.THIS .customBIcon2 {
    background-color: white; 
    padding-left: 9px !important; 
    padding-right: 2px !important;
    margin:0 0.3rem;
    float:right;
}



.THIS .headerText{
    text-align: center;
}
.THIS .customBIcon {
    background-color: white; 
    padding-left: 9px !important; 
    padding-right: 2px !important;
}
.THIS .customtable td {
 line-height:0px;
}
.THIS .maintable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .maintable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
 padding-left: 0px !important;
}
.THIS .customtable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .customtable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
 /*padding-left: 0px !important;*/
}




.THIS .customLookup {
    border-left-color: #ce0000; border-left-width: 3px;
}
.THIS .selected{
    color:orange;
}

.THIS .customContainer{
    padding-top:1%;
    background-color:white;
    color:#6b6d70;
}
.THIS .colorClass .slds-input{
  border:1px solid red !important;  
}
.THIS .noColorClass .slds-input{
  border:1px solid rgb(221, 219, 218) !important;   
}

.THIS .txtArea textarea{
    /*height:70px !important;*/   
    height:63px;
} 

.THIS .hiddenLabel label{
    display:none;
}