.THIS .customtable th {
    vertical-align: bottom !important;
}
.THIS .customtable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
}

.THIS .customtable .totalCols th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 26px !important;
    z-index: 2 !important;
    background-color: #27ae60;
    color: white;
}

.THIS .whiteIcon svg{
    fill: white;
}

.THIS .blueIcon svg{
    fill: blue;
}

.THIS .redIcon svg{
    fill: red;
}

.THIS .orangeIcon svg{
	fill: #FEB343;    
}

.THIS .chartIcon svg{
    width: 14px;
    height: 14px;
}

.THIS .export {
    float: right;
}

.THIS .flexipageReportChart .analyticsEmbeddedReportChart {
    margin: 0 auto;
    max-width: 100% !important;
}