.THIS .likeIcon svg{
    fill:green;
    text-align:center !important;  
}
.THIS .dislikeIcon svg{
    fill:red;
    text-align:center !important;
}
.THIS .rows {
    text-align:center;
}
.THIS .IconColor svg{
   fill:black !important;
}
.THIS .M1like3Mdata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .M2like3Mdata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 40px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .M3like3Mdata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 81px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}

.THIS .Description3Mdata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 122px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .M1like3M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .M2like3M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 40px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .M3like3M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 81px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}

.THIS .Description3MprodFam{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 122px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .M1like{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .M2like{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 40px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .M3like{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 81px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}

.THIS .M4like{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 122px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}

.THIS .M5like{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 163px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}

.THIS .M6like{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 204px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .M7like{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 245px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .M8like{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 286px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .M9like{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 327px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .descrptionProdFam{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 368px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .M1likedata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .M2likedata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 40px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .M3likedata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 81px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}

.THIS .M4likedata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 122px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}

.THIS .M5likedata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 163px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}

.THIS .M6likedata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 204px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .M7likedata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 245px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .M8likedata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 286px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .M9likedata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 327px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .descrptionProdFamdata9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 368px !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
/*.THIS .prodDetailsSticky3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 147.93px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .indicatorSticky3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
     background-color: #f2f2f2;
}
.THIS .janlike{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
  background-color: #f2f2f2;
}
.THIS .feblike{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 40px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .marlike{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 81px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .description3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 121px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .prod3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 121px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .jandata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
  background-color: white;
}
.THIS .febdata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 40px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .mardata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 81px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .description3mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 121px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .jan9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
   background-color: #f2f2f2;
}
.THIS .feb9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 41.33px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .mar9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 83.69px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .apr9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 126.05px !important;
    position: fixed;
    z-index: 1 !important;
   background-color: #f2f2f2;
}
.THIS .may9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 168.41px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .june9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 210.77px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .jul9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 253.13px !important;
    position: fixed;
    z-index: 1 !important;
   background-color: #f2f2f2;
}
.THIS .aug9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 295.49px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .sep9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 337.85px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .description9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 380.21px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .prod9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 380.21px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: f2f2f2;
}
.THIS .jan9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
   background-color: white;
}
.THIS .feb9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 41.33px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .mar9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 83.69px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .apr9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 126.05px !important;
    position: fixed;
    z-index: 1 !important;
   background-color: white;
}
.THIS .may9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 168.41px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .june9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 210.77px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .jul9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 253.13px !important;
    position: fixed;
    z-index: 1 !important;
   background-color: white;
}
.THIS .aug9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 295.49px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .sep9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 337.85px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .description9mondata{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 380.21px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}*/