.THIS th{
    padding: 4px;
 white-space: nowrap; 
}

.THIS td{
    padding: 4px;
     white-space: nowrap;
}
.THIS .customTable th {
  vertical-align: bottom !important;
  background-color: #e5e5e5 !important;
  color: black !important;
}

.THIS .customTable td {
  vertical-align: bottom !important;
  color: black !important;
}

.THIS .boldLabel label{
    font-weight: bold !important;
}

.THIS .iconCSS svg{
    fill: #185DA4;
}

.THIS .slds-button_brand{
    background-color: #5224B2 !important;
    border: 1px #5224B2 solid !important;
}