.THIS .IconColor svg{
   fill:black !important;
}
.THIS .iconCSS{
    margin-top: -16px !important;
}
.THIS toggleColor{
    color:black;
}
.THIS .arrowWhite svg{
    fill:white;
}
.THIS .percentIcon svg{
    fill:white;
    cursor:text !important;
}

.THIS .purpleIcon svg{
    fill:#3A0085;
}
.THIS .arrowBlue svg{
    fill:#257CFF;
}
.THIS .whiteIcon svg{
    fill:white;
}
.THIS .purplelikeIcon svg{
    fill:purple;
}
.THIS .greenIcon svg{
    fill:green;
    text-align:center !important;  
}
.THIS .redIcon svg{
    fill:red;
    text-align:center !important;  
}
.THIS .modalShadowRemove{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.THIS .summarySticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    z-index: 9 !important;
    background-color:white;
}
.THIS .headerSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 9 !important;
    background-color:white;
}
.THIS .subHeaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 27.49px !important;
    z-index: 9 !important;
    background-color:white;
}
.THIS .likeIcon svg{
    fill:green;
    text-align:center !important;  
}
.THIS .dislikeIcon svg{
    fill:red;
    text-align:center !important;  
}
.THIS .bgModalColor{
    background-color  : black;  
    opacity: 0.50;
}
.THIS .IndicatorsColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#257CFF;   
}
.THIS .SKUColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 420.94px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#257CFF;   
}
.THIS .QTDColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}.THIS .FTDColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 42.54px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}.THIS .CTDColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 83.65px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .MTDColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 125.95px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .QTDColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .FTDColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 42.54px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .CTDColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 83.65px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .MTDColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 125.95px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .month1Column{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 175.08px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .month1ColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 175.08px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .month2Column{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 216.06px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .month2ColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 216.06px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .month3Column{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 257.04px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .month3ColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 257.04px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .month4Column{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 298.02px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .month4ColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 298.02px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .month5Column{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 339px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .month5ColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 339px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .month6Column{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 379.98px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .month6ColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 379.98px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}

.THIS .itemDesColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 420.96px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .itemDesColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 420.96px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .ndcColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 937.94px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .ndcColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 937.94px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .packColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 1037.94px !important;
    position: fixed;
    z-index: 999 !important;
    background-color:#FEB343;   
}
.THIS .packColumnData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 1037.94px !important;
    position: fixed;
    z-index: 9 !important;
    background-color: white;   
}
.THIS .fixedcolumn {
        table-layout:fixed;
        overflow: hidden;
        max-width: 420px !important;
}
.THIS .fixedcolumn2 {
        table-layout:fixed;
        overflow: hidden;
        max-width: 100px !important;
}
.THIS .fixedcolumn3 {
        table-layout:fixed;
        overflow: hidden;
        max-width: 80px !important;
}
.THIS .fixedmonth {
        table-layout:fixed;
        overflow: hidden;
        max-width: 40px !important;
}
.THIS .fixedmonth1 {
        table-layout:fixed;
        overflow: hidden;
        max-width: 41px !important;
}
.THIS .firstArrow {
    border: 3px solid green !important;
    border-radius: 6px !important;
}
.THIS .itemDesccolumn {
        table-layout:fixed;
        overflow: hidden;
        max-width: 420px !important;
}
.THIS .componentWrapper .header {
  
 position: absolute;
  color:black;
  
}