.THIS .syneboLookup {
 margin-right:5px !important;   
 margin-left:5px !important;   
}
.THIS  .lulc-undo{
   display:none !important; 
}
.THIS .hideposi{
 position : absolute !important;   
}
.THIS .hidescroll{
    overflow: initial;
}

.THIS .removeLabelClass .slds-form-element__label{
    display: none !important;
}
.THIS .labelCSS .slds-form-element__label{
    display: inline-block !important;
}

@media (min-width: 48em){
.THIS .slds-modal__container {
        padding:0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 90rem !important;
    min-width: 30rem !important;
}
.THIS .removeLabelClass .slds-form .slds-form-element__label{
        display : none !important;
    }
.THIS .labelCSS .slds-form-element__label{
    display: inline-block !important;
}
.THIS .notesCls{
        height: 350px !important;
        background: white !important;
    }
.THIS .c-container {    
    margin: 0;
    min-height: calc(100vh - 250px);  
}
.THIS .pop-up-main-container {
    height: 90%; /* Or other */
    position: relative;
}
.THIS .pop-up-main-container #modalId {
    /*margin: 0;*/
    position: absolute;
    top: 5%;
    left: 0%;
    right : 5%;
    /*margin-right: -50%;
    transform: translate(-50%, -50%); /* To compensate own width and height */
}
}

.THIS .customtable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .customtable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;
}


.THIS .green svg {
    fill : green !important;
}
.THIS .red svg {
    fill : red !important;
}
.THIS .orange svg {
    fill : orange !important;
}
.THIS .gray svg {
    fill : gray !important;
}
.THIS .changeWidth-Search{
	margin:0 !important;
}
.THIS .verticalAlignCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.THIS .boxCss{
    border-radius:12px;
    border-style:solid;
    border-color:rgba(78, 35, 170, 0.17);
    border-width:2px;
    padding:25px;
    background-color:#F9F8FC;
}
.THIS .addProdButton{
    background: #4E23AA 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
    color:white;
    padding:10px;
    font-size:12px;
}
.THIS .addSaveButton{
    background: #4E23AA 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
    color:white;
    width:125px;
    height:40px;
    padding:10px;
    font-size:14px;
}
.THIS .addSaveButtonFromAcc{
    background: #4E23AA 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
    color:white;
    width:180px;
    height:40px;
    padding:10px;
    font-size:14px;
}

.THIS .cancelButtonCss{
    background: white;
    border-color: #4E23AA;
    color:#4E23AA;
    border-width:1px;
    border-radius: 22px;
    opacity: 1;
    width:65px;
    height:40px;
    padding:10px;
    align-items: center;
    font-size:14px;
}
.THIS .uploadButtonCss{
    border-color: #4E23AA;
    color:#4E23AA;
    border-width:1px;
    border-radius: 22px;
    opacity: 1;
    width:120px;
    height:40px;
    padding:10px;
    align-items: center;
    font-size:14px;
}
.THIS .downloadIcon svg{
    fill : #4E23AA !important;
}
.THIS .hideUploadLabel>.slds-form-element__label{
    display: none; 
    visibility: hidden;
}
.THIS .pagination { 
    /*overflow:hidden;*/
    text-align:center; 
    padding:0; 
    position:relative; 
    margin:10px 10px;
}
.THIS .pagination .navlink  { 
    position:absolute; 
    top:0;
}
.THIS .pagination .nextlink { 
    right:0;
}
.THIS .midbox { 
    display:inline-block; 
    vertical-align:top;
}
.THIS .centerCss{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.THIS .wrapper {
    position: relative;
    margin: 10px;
}

.THIS .line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.THIS .wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.THIS .word {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial,sans-serif;
    background: #F9F8FC;
}

.THIS .fileNameCss{
    width:auto;
    word-break: break-all;
    white-space: normal;
    background-color:#EBE0F9;
}
.THIS .addProdDiv{
    word-wrap: break-word;
}