.THIS .summaryheaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 46px !important;
    left :0px !important;
    z-index: 999 !important;
    background-color:#F3F3F3;
}
.THIS .redIcon svg{
    fill:red;
}