.THIS .greenIcon svg{
   fill:#30AB30 !important;
}
.THIS .blueIcon svg{
   fill:#257CFF !important;
}

.THIS .approverIcon .slds-button{
    padding-bottom: 4px !important;
}
.THIS .AshIcon svg{
   fill:grey !important;
}
.THIS .table{
  border: 1px solid black;
  border-collapse: collapse;
}
.THIS .th{
  border: 1px solid black;
  border-collapse: collapse;
}
.THIS .td{
  border: 1px solid black;
  border-collapse: collapse;
}
.THIS .custom-no-border{
    border: none;
    border-radius: 0; /* Set border-radius to 0 if necessary */
    box-shadow: none; /* Set box-shadow to none if necessary */
    text-align:center;
}
.THIS .hrLine {
   width: 85%; 
   text-align: center; 
   border-top: 1px solid #000; 
   line-height: 0.2em;
   margin: 10px 0 20px; 
}


.THIS .horizontal-line {
    margin-left: 10px;
    border-bottom: 3.5px solid #4e4b4b; /* Adjust color and thickness as needed */
    margin-bottom: 10px;
    width: 70%;/* Adjust margin-bottom as needed */
}

.THIS .line {
    border: none; 
    border-top: 1px solid black; 
    margin: 0 auto; 
    width : 40%;
    margin-top:11px;
}

.THIS.slds-button_icon {
  vertical-align: middle;
}
.THIS .centerCss{
  align:center;
    text-align:center;
    margin-left:30px;
}
.THIS .my-input-field-class {
    height: 40px; /* Adjust the height as needed */
}
.THIS .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .docIcon svg {
    fill:#30AB30 !important;
    width: 60px; 
    height: 55px; 
}