.THIS .likeIcon svg{
    fill:green;
    text-align:center !important;  
}
.THIS .dislikeIcon svg{
    fill:red;
    text-align:center !important;
}
.THIS .rows {
    text-align:center;
}
.THIS .IconColor svg{
   fill:black !important;
}
.THIS .descriptionCSS{
    table-layout:fixed;
    overflow: hidden;
    max-width: 100px !important;
    white-space: nowrap;  
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    
}