.THIS .descriptionCSS{
    table-layout:fixed;
    overflow: hidden;
    max-width: 200px !important;
    white-space: nowrap;  
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    
}
.THIS .fixed {
    table-layout:fixed;
    overflow: hidden;
    max-width: 200px !important;
}
.THIS .hoverTable{
    background-color:#E6E6E6;
    font-weight: 600;
}
.THIS .hoverHeader{
    text-align:center;
    font-weight: 600;
    font-size: 16px;
}