.THIS .slds-form-element__control {
    padding-left:15px !important;
}
.THIS .slds-form-element__label{
    display : none !important;
}

.THIS .colorClass {
  border:1px solid red !important;  
}
.THIS .noColorClass {
  border:1px solid rgb(221, 219, 218) !important;   
}
.THIS .dateInputWidth {
    width: 150px !important;
}

.THIS .textInputWidth {
    width: 190px !important;
}