.THIS .headerClass{
    background-color:#8c00ff;
    color: white;
}
.THIS .maintable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}