.THIS .userInputBox {
    padding-right: 5px;
}
.THIS .whiteIcon svg{
    fill:white;
}
.THIS .purpleIcon svg{
    fill:#5224B2;
}
.THIS .redIcon svg{
    fill:red;
    text-align: center;
}
.THIS .greenIcon svg{
    fill:green;
}
.THIS .lessThanCss svg{
    fill:white;  
}
.THIS .IconColor svg{
   fill:white !important;
    margin-top: -4px !important;
}
.THIS .dohIcon svg{
    fill:green;
    text-align: center;
}
.THIS .dohAshIcon svg{
    fill:grey;
}
.THIS .qohIcon svg{
    fill:red;
}

.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .iconCSS{
    margin-top: -10px !important;
}
.THIS .prodColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
.THIS .dohColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
/*.THIS .qohColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 74.69px !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
.THIS .valueColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 180.78px !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}*/
.THIS .avgColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 77.06px !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
.THIS .distributionColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 146.54px !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
/*.THIS .distributionColumn{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 221.68px  !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}*/
.THIS .dohColumn2{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
/*.THIS .qohColumn2{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 41.39px !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
.THIS .valueColumn2{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 130.19px !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}*/
.THIS .avgColumn2{
    position: -webkit-sticky !important;
    position: sticky !important;
    left:  77.06px !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
.THIS .distributionColumn2{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 152.19px !important;
    position: fixed;
    z-index: 9 !important;
    background-color:white;   
}
/*.THIS .distributionColumn2{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 188.12px  !important;
    position: fixed;
    z-index: 9 !important;
    background-color:white;   
}*/
.THIS .dohColSummary{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
.THIS .avgColSummary{
    position: -webkit-sticky !important;
    position: sticky !important;
    left:  43.49px !important;
    position: fixed;
    z-index: 1 !important;
    background-color:white;   
}
.THIS .distributionColSummary{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 118.62px !important;
    position: fixed;
    z-index: 9 !important;
    background-color:white;   
}