.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS .modalShadowRemove{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.THIS .maintable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}
.THIS .maintable th:not([scope=row]):nth-child(2) {
    left: 0px !important;
    z-index: 9 !important;
}
.THIS .headerClass{
    background-color:#8c00ff;
    color: white;
}
.THIS .alignRightClass{
    text-align: right;
}
.THIS .showGreen svg {
    fill : green !important;
}