.THIS .rows {
	padding: 4px;
}
.THIS total td{
    color:#000000;
  background-color: #a1a1a1; 
     }

.THIS .customTable
{
    border: 0.5px solid black;
  
    
}
.THIS .customTable thead tr th:nth-child(1) { 
    padding:0px;
}
.THIS tr ,.THIS td{
    color:#000000;
}

/*.THIS #styleids td 
{
    padding: 4px; 
    color:#000000;
   background-color: #FDFD96;    
}*/
.THIS #styleids th 
{
    padding: 4px; 
    color:#FFFFFF;
   background-color: #8c00ff;    
}
.THIS #styleids  th:nth-child(1)
{
   
     width: 40px !important;
}
.THIS #styleids  th:nth-child(2)
{
    
     width: 500px !important;
}
.THIS #styleids  th:nth-child(4)
{
    
     width: 200px !important;
}
.THIS #grandtotal td 
{
    padding: 4px; 
    color:#FFFFFF;
   background-color: #8c00ff;  
      position: -webkit-sticky !important;
    position: sticky !important;
    bottom: 0 !important;
    z-index: 1 !important;
}
.THIS .customTable th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}
    
.THIS .customTable th[scope=row]:nth-child(1) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}