/*.THIS .slds-form-element .slds-form-element__label{
    display: none !important;
}*/
.THIS .slds-icon{
    width: 1.1rem !important;
}

.THIS .iconCSS .slds-button__icon_left{
    margin: 0px !important;
}

.THIS .ms-help-popup-in-header {
    display: inline-block;
    position: absolute !important;
    top: 20px !important;
    left: 55px !important;
    margin-left: -1rem !important;
    overflow: visible !important;
    text-transform: none !important;
    background-color: green  ;
    z-index: 9999 !important;
}
.THIS .ms-help-popup-in-header:before, .THIS .ms-help-popup-in-header:after {
    content: '';
    background-color: red;
    top: 10%;
    left: -0.4rem !important;
    margin-top: -.8rem !important;
}
.THIS .ms-help-popup-body {
    white-space: unset !important;
    word-break: keep-all;
    overflow-wrap: break-word;
    background-color: blue  ;
}

.THIS .lineSpaceClass{
    line-height: 1.6;
    font-size:12px;
}

/*.THIS .slds-popover{
    width: auto !important;
    padding: 8px !important;
}*/

.THIS .centerAlign{
    padding-top: 40px;
}
.THIS .rightAlignCss input{
    text-align: right;
}
/*.THIS .maintable{
    position: sticky !important;
    left: 0px !important;
    z-index: 1;
    vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
    color:black !important;
}*/