.THIS .expand svg{
    margin-top: -4px !important;
}

.THIS .collapse svg{
    margin-top: -16px !important;
}

.THIS .buttonIconCSS{
    background-color: white !important;
}

.THIS .topContentSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 2 !important;
}

.THIS .mainHeaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1 !important;
    background-color:#8d55d5;
    color: white;
}

.THIS .totalsRowSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 38px;
    z-index: 1 !important;
    background-color: #d3def7;
    font-weight: bold;
}

.THIS .customButtonCSS .slds-button{
    font-size: 16px;
    padding: 4px 16px;
}

.THIS .legendText {
    font-weight: 500;
    margin-left: 8px;
    display:inline-block;
    font-size: 16px;
    vertical-align: top;
}


.THIS .pinkCSS {
    border: 2px solid white;
    border-bottom: none;
    text-align: center;
    color:white;
    background-color: #45c0db;
}
.THIS .Box1Css {
    border: 2px solid white;
    border-bottom: none;
    text-align: center;
    color:white;
    background-color:#6900EF;
}
.THIS .Box2Css {
    border: 2px solid white;
    border-bottom: none;
    border-right: none;
    text-align: center;
    color:#3E3E3C;
    background-color:#FFDBA5;
}
.THIS .Box3Css {
    border: 2px solid white;
    border-bottom: none;
    text-align: center;
    color:#3E3E3C;
    background-color:#FDEFBD;
}
.THIS .Box4Css {
    border: 2px solid white;
    border-right: none;
    text-align: center;
    color:#3E3E3C;
    background-color:#E9D7F8;
}
.THIS .Box5Css {
    border: 2px solid white;
    text-align: center;
    color:#3E3E3C;
    background-color:#BEE48F;
}

.THIS .tree ul {
    padding-top: 20px; position: relative;
    transition: all 0.5s;
}

.THIS .tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 10px 0px 0 3px;
   
    transition: all 0.5s;
    margin-left: -1px;
}

.THIS .tree li::before, .THIS .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 3px solid #676767;
    width: 55%; 
    height: 25px;
}

.THIS .tree li::after{
    right: auto; left: 50%;
    border-left: 3px solid #676767;
}



/*We need to remove left-right connectors from elements without
any siblings*/
.THIS .tree li:only-child::after, .THIS .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.THIS .tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.THIS .tree li:first-child::before, .THIS .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.THIS .tree li:last-child::before{
    border-right: 3px solid #676767;
  
}

.THIS .tree li:first-child::after{
  
}

/*Time to add downward connectors from parents*/
.THIS .tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 3px solid #676767;
    width: 0; height: 20px;
}

/*.THIS .customCSS .tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 24.5%;
    border-left: 3px solid #676767;
    width: 0; height: 20px;
}*/

.THIS .finalCSS ul ul::before{
    content: '';
    position: absolute; top: 0; left: 60%;
    border-left: 3px solid #676767;
    width: 0; height: 20px;
}

.THIS .leadTimeCSS ul ul::before{
    content: '';
    position: absolute; top: 0; left: 60%;
    border-left: 3px solid #676767;
    width: 0; height: 20px;
}

.THIS .customCSS ul ul::before{
    content: '';
    position: absolute; top: 0; left: 40%;
    border-left: 3px solid #676767;
    width: 0; height: 45px;
}

.THIS .test{
    position: absolute; top: 0;
}


.THIS .tree ul ul:empty::before{
    display: none;
}
.THIS .tree li p{
    padding: 5px 10px;
    text-decoration: none;
    font-family: arial, verdana, tahoma;
    font-size: 10px;
    display: inline-block;
    transition: all 0.5s;
}


.THIS.tree11{
    margin:0 auto;
    width: 100%;
}

.THIS.tree11 ul{
    padding: 10px 5px 0 5px;
    position: relative;
    z-index: 1;
}


.THIS.tree11 li{
    margin-left: 28px;
    list-style-type: none;
    position: relative;
    padding: 5px 5px 0 5px;
}

.THIS.tree11 li::after{
    content: '';
    position: absolute;
    border-bottom: 10px solid #c61f1f;
    border-left: 10px solid #c61f1f;
    height: 33px;
    width: 15px;
    right: auto;
    left: -10px;
    top: -11px;
    padding: -2px 10px;
    border-radius:2px;
}