.THIS .heightClass{
    height:400px !important;
}
.THIS .noheightClass{
    height:auto !important;
}
.THIS .maintable th {
  	vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  	color:black !important;
}
.THIS .maintable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
 
}
.THIS .maintable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}
.THIS .maintable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}

.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 80px;
}
.THIS label.slds-form-element__label {
    display: none;
}
.THIS .slds-card__header {
    padding-top: 0px;
}
.THIS .slds-datepicker table {
    table-layout: fixed;
}
.THIS .slds-section-title--divider {
	text-transform: capitalize !important;
	font-size: 16px !important;
	font-weight: bold !important;
}
.THIS.cPhoenix_CustomerResponseView label.slds-form-element__label {
     display: block;
}
.THIS .slds-modal__container{
    width: 70% !important;
    max-width: 60rem !important;
}