.THIS .tablecss .slds-table tr th:first-child{
    padding-left: 1px !important;  
}
.THIS .tablecss .slds-table tr td:first-child{
    padding-left: 1px !important;  
}
.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}
.THIS.cBidLineItemEditDemoCmp.maintable th {
   /* position: -webkit-sticky!important;
    /* position: sticky!important; */
    /* top: 0!important; */
    /* z-index: 2!important; */
}