.THIS .slds-form-element__label{
    display : none !important;
}

.THIS .colorClass {
  border:1px solid red !important;  
  text-align:right;
}
.THIS .noColorClass {
  border:1px solid rgb(221, 219, 218) !important; 
  text-align:right;
}