.THIS .showGreen svg {
    fill : green !important;
}
.THIS .showRed svg {
    fill : red !important;
}
.THIS .showOrange svg {
    fill : orange !important;
}
.THIS .unitsInput input{
    text-align:right;
}
.THIS .label-hidden > label {
    display: none;
}
.THIS .rightAlignCss input{
    text-align: right;
}
.THIS .disabledRow{
    background-color:#ececec;
}