@media (min-width: 48em){
    .THIS .slds-modal__container {
        padding:0 !important;
        margin: 0 auto !important;
        width: 100% !important;
        max-width: 100rem !important;
        min-width: 30rem !important;
    }
    .THIS .removeLabelClass .slds-form .slds-form-element__label{
        display : none !important;
    }
    .THIS .labelCSS .slds-form-element__label{
        display: inline-block !important;
    }
    .THIS .notesCls{
        height: 350px !important;
        background: white !important;
    }
    .THIS .c-container {    
        margin: 0;
        min-height: calc(100vh - 250px);  
    }
    .THIS .pop-up-main-container {
        height: 90%; /* Or other */
        position: relative;
    }
    .THIS .pop-up-main-container #modalId {
        /*margin: 0;*/
        position: absolute;
        top: 5%;
        left: 0%;
        right : 5%;
        /*margin-right: -50%;
        transform: translate(-50%, -50%); /* To compensate own width and height */
    }
}

.THIS .backgroudChange{
    background-color: black;
    opacity:0.9 !important;
    visibility: visible !important;
}
.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 80px;
}
.THIS .headerOfTable{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
}
.THIS .prodFamSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    position: absolute;
    left: 0 !important;
    z-index: 999 !important;
}
.THIS .prodFamColSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    z-index: 9 !important;
    background: rgba(252, 252, 252, 1) !important;
}
.THIS .drlTh{
    background-color:#6C3483;
    color:white;
}
.THIS .drlMkrtShare{
    background-color: #58d68d;
    color:white;
}
.THIS .totalMkrtShare{
    background-color: #27ae60;
    color:white;
}
.THIS .estMrktShare{
    background-color:#85C1E9;
}
.THIS .custActs{
    background-color:#FCFF33;
} 
.THIS .optyClr{
    background-color:#ffa500;
}
.THIS .red{
    color:orange;
}
.THIS .green{
    color:chartreuse;
}
.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
    margin:0 !important;
}
/*.THIS .strong-text {
     font-weight: bold;
}*/
.THIS .accElements .slds-form-element__label{
    font-weight: bold;
}
.THIS .whiteIcon svg{
    fill:white;
}
.THIS .modalShadowRemove{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.THIS .showGreen svg {
    fill : green !important;
}
.THIS .showRed svg {
    fill : red !important;
}
.THIS .alignRight{
    text-align: right !important;
}
.THIS .showBlack svg{
    fill : black !important;
}
.THIS .purplelikeIcon svg{
    fill:purple;
}
.THIS .greenIcon svg{
    fill:green;
    text-align:center !important;  
}
.THIS .redIcon svg{
    fill:red;
    text-align:center !important;  
}
.THIS .purpleIcon svg{
    fill:#5224B2;
}
.THIS .slds-datepicker {
    z-index: 9999 !important;
}
.THIS .fontChangeInTableTab{
    font-weight:bold;
    font-size:16px;
    text-decoration: underline;
    text-decoration-color: red;
}