.THIS.slds-tabs_default{
background-color:white !important;    
}
.THIS .slds-modal__container{
    width: 70% !important;
    max-width: 60rem !important;
}
.THIS .inputSize {
    width:100%; 
}
.THIS .heightClass{
    height:400px !important;
}
.THIS .noheightClass{
    height:auto !important;
}
.THIS .customtable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .customtable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
 
}
.THIS .maintable th[scope=row] {
  min-width: 40vw !important;
}

@media all and (min-width: 30em) {
  .THIS .maintable td[scope=row]:nth-child(3) {
    min-width: 15em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(1) {
    min-width: 4em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(11)  {
    min-width: 10em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(12)  {
    min-width: 10em !important;
  }
   
    .THIS .maintable td[scope=row]:nth-child(4)  {
    min-width: 12em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(5)  {
    min-width: 7em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(6) {
    min-width: 7em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(7)  {
    min-width: 7em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(2) {
    min-width: 7em !important;
  }
   
    .THIS .maintable td[scope=row]:nth-child(8)  {
    min-width: 10em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(9) {
    min-width: 10em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(10)  {
    min-width: 10em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(13)  {
    min-width: 10em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(14) {
    min-width: 15em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(15)  {
    min-width: 15em !important;
  }
    .THIS .maintable td[scope=row]:nth-child(16)  {
    min-width: 15em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(17)  {
    min-width: 12em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(18)  {
    min-width: 10em !important;
  }
     .THIS .maintable td[scope=row]:nth-child(19)  {
    min-width: 10em !important;
  }
}
.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
    margin:0 !important;
}
/*.THIS .slds-accordion__summary-heading > button > lightning-primitive-icon {
    display: none;
}*/