.THIS .changeHeightCls{
    height:100px !important;
}
.THIS .sldsBoxesCls{
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#8c00ff;
    border-radius:10px;
    font-color:white !important;
}
.THIS .changeButton{
    height:0px !important;
}