.THIS .rowCSS{
background-color:#257CFF;
    color:white;
}

.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .iconCSS{
    margin-top: -16px !important;
}
.THIS .th{
 font-weight: bold;
}

.THIS .lessThanCss svg{
    fill:white;
}
.THIS .lessThanCssIcon svg{
    fill:black;
}