.THIS .modalShadowRemove{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.THIS .stickRow tr {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
}
.THIS .row:after {
    content: "";
    display: table;
    clear: both;
}
.THIS .styleCSS{
  
    font-size: 18px;
}