.THIS .slds-form-element__label{
    display : none !important;
}
.THIS .tier-one {
  background-color: red;
}
.THIS.slds-modal__container{
    max-width: 100px !important;
    width:100px !important;
    height:100px !important;
}