.THIS .slds-form-element{
    width: 100% !important;
}

.THIS .capacityConstraint .slds-form-element{
    width: 100% !important;
}

.THIS .getWellDate .slds-form-element{
    width: 100% !important;
}

.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .iconCSS{
    margin-top: -12px !important;
}

/* MyCustomToggle.css */
.THIS .custom-toggle {
    width: 40px;
    height: 20px;
    background-color: #939393;
    border: 1px solid #939393;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.THIS .toggle-switch {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 0.3s;
}

.THIS .custom-toggle.active .toggle-switch {
    transform: translate(100%, -50%);
}

.THIS .custom-toggle.active {
    background-color: #0176D3;
}