.THIS .hide123 {
    display: none;
    background: red;
}

.THIS .customBIcon {
    background-color: white;
    padding-left: 11px !important;
    padding-right: 3px !important;
    width: 20px !important;
    height: 15px !important;
}