.THIS .slds-form-element__label{
	font-weight: bold !important;
}

.THIS .helpIconCSS svg{
    fill: white !important;
}

.THIS .helpIconCSS .slds-form-element__icon{
    padding-top: 0px !important;
}

.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .iconCSS{
    margin-top: -16px !important;
}

.THIS .purpleIcon svg{
    fill:#5224B2;
    cursor: pointer;
}

.THIS .chartIcon svg{
    fill: white;
    cursor: pointer;    
}

.THIS .mainHeaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1 !important;
    background-color:#efefef;
}

.THIS .headerSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 1.6rem !important;
    z-index: 1 !important;
    background-color:#efefef;
}

.THIS .headerSticky1{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
    background-color:#efefef;
}
.THIS div#container{
    width: 100%;
    background-color:white;
    display: flex;
}

.THIS div#inner1{
    flex: 1;
}

.THIS div#inner2{
    flex: 1;
    margin-left:15px;
}

.THIS div#inner3{
    flex: 1;
    margin-left:15px;
}

.THIS .customCSS{
    padding: 15px 14px 14px 14px;
    margin-top: -4px;
}