.THIS .red {
    color: red;
}

.THIS .slds-form-element__control {
    padding-left: 15px !important;
}

.THIS .slds-form-element__label {
    display: none !important;
}
.THIS.cBidLineItemEditDemoCmp .slds-modal__container {
    width: 100% !important;
    max-width: 80rem !important;
}
.THIS .infoColor svg{
    fill:#4B0082;
}