.THIS #styleids  th:nth-child(1)
{
   
     width: 40px !important;
}
.THIS .fixed {
        table-layout:fixed;
        overflow: hidden;
        max-width: 200px !important;
    white-space: nowrap;  
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;

}
.THIS .iconCSS svg{
    fill:#0176D3 !important;
    height: 12px;
    width: 12px;
}
.THIS .my-icon {
    padding: 0.1rem;
}
.THIS .modalShadowRemove{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}