.THIS .IndicatorCSS{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 27.47px !important;
    z-index: 99 !important;
     background-color:white;
}
.THIS .custGrpSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 27.47px !important;
    z-index: 1 !important;
    background-color:white;
}
.THIS .subHeaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 63.44px !important;
    z-index: 1 !important;
    background-color:white;
}
.THIS .headerOfTable{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
     background-color:#257CFF;
}
.THIS .headerTable{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
     background-color:#257CFF;
}
.THIS .rowOfTable{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    z-index: 10 !important;
     background-color:#257CFF;
}
.THIS .account9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
    background-color:#E0F9E2;
    
}
.THIS .account3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 2rem !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #E0F9E2;
}

.THIS .Month1In9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}
.THIS .Month2In9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 40px !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}

.THIS .Month3In9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 81px !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}
.THIS .Month4In9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 122px !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}
.THIS .Month5In9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 163px !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}
.THIS .Month6In9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 204px !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}
.THIS .Month7In9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 245px !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}
.THIS .Month8In9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 286px !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}
.THIS .Month9In9M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 327px !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}
.THIS .description9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 368px !important;
    position: fixed;
    z-index: 999 !important;
   background-color: #5224B2;
}
.THIS .description3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 122px !important;
    position: fixed;
    z-index: 99 !important;
   background-color: #5224B2;
}
.THIS .Month1In3M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 99 !important;
   background-color: #5224B2;
}
.THIS .Month2In3M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 40px !important;
    position: fixed;
    z-index: 99 !important;
   background-color: #5224B2;
}
.THIS .Month3In3M{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 81px !important;
    position: fixed;
    z-index: 99 !important;
   background-color: #5224B2;
}
.THIS .IndicatotSticky3Mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 99 !important;
    background-color:white;
    
}
.THIS .prodDetailsSticky3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 122px !important;
    position: fixed;
    z-index: 99 !important;
    background-color: white;
}
.THIS .IndicatotSticky9Mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 999 !important;
    background-color:white;
    
}
.THIS .prodDetailsSticky9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 368px !important;
    position: fixed;
    z-index:999 !important;
    background-color: white;
}
/*.THIS .custGrpSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
   left: 0 !important;
    z-index: 999 !important;
    background-color:#257CFF;
}
.THIS .account9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
    background-color:#E0F9E2;
    
}*/
.THIS .rowCSS{
background-color:#257CFF;
    color:white;
}

.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .iconCSS{
    margin-top: -16px !important;
}
.THIS .th{
 font-weight: bold;
}

.THIS .lessThanCss svg{
    fill:white;
}
.THIS .lessThanCssIcon svg{
    fill:black;
}
/*.THIS .prodDetailsSticky3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 147.93px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .indicatorSticky3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
     background-color: white;
}
.THIS .janmon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
   background-color: #f2f2f2;
}
.THIS .febmon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 48.5px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .marmon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 98.21px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .description3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 147.92px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .account3mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 2rem !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .Indicator9Mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important; 
    position: fixed;
    z-index: 1 !important;
   background-color: white;
}
.THIS .ProDetails9Mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 380.23px !important;
    position: fixed;
    z-index: 1 !important;
   background-color: white;
}
.THIS .jan9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    position: fixed;
    z-index: 1 !important;
   background-color: #f2f2f2;
}
.THIS .feb9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 41.33px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .mar9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 83.69px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .apr9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 126.05px !important;
    position: fixed;
    z-index: 1 !important;
   background-color: #f2f2f2;
}
.THIS .may9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 168.41px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .june9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 210.77px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .jul9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 253.13px !important;
    position: fixed;
    z-index: 1 !important;
   background-color: #f2f2f2;
}
.THIS .aug9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 295.49px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .sep9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 337.85px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}
.THIS .description9mon{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 380.21px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: #f2f2f2;
}*/