.THIS .tree ul {
    padding-top: 20px; position: relative;
    transition: all 0.5s;
}


.THIS .tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 40px 0px 0 3px;
   
    transition: all 0.5s;
    margin-left: -1px;
}

.THIS .tree li::before, .THIS .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 10px solid #79d4f7;
    width: 55%; 
    height: 40px;
}

.THIS .tree li::after{
    right: auto; left: 50%;
    border-left: 10px solid #79d4f7;
}



/*We need to remove left-right connectors from elements without
any siblings*/
.THIS .tree li:only-child::after, .THIS .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.THIS .tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.THIS .tree li:first-child::before, .THIS .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.THIS .tree li:last-child::before{
    border-right: 10px solid #79d4f7;
    border-radius: 10px;
}
.THIS .tree li:first-child::after{
    border-radius: 10px;
}

/*Time to add downward connectors from parents*/
.THIS .tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 49%;
    border-left: 10px solid #79d4f7;
    width: 0; height: 20px;
}

.THIS .test{
    position: absolute; top: 0;
}



.THIS .tree ul ul:empty::before{
    display: none;
}
.THIS .tree li p{
    padding: 5px 10px;
    text-decoration: none;
    font-family: arial, verdana, tahoma;
    font-size: 10px;
    display: inline-block;
    transition: all 0.5s;
}


.THIS.tree11{
    margin:0 auto;
    width: 100%;
}

.THIS.tree11 ul{
    padding: 10px 5px 0 5px;
    position: relative;
    z-index: 1;
}


.THIS.tree11 li{
    margin-left: 28px;
    list-style-type: none;
    position: relative;
    padding: 5px 5px 0 5px;
}

.THIS.tree11 li::after{
    content: '';
    position: absolute;
    border-bottom: 10px solid #c61f1f;
    border-left: 10px solid #c61f1f;
    height: 33px;
    width: 15px;
    right: auto;
    left: -10px;
    top: -11px;
    padding: -2px 10px;
    border-radius:2px;
}