.THIS .greenIcon svg{
    fill:green;
    text-align:center !important;  
}
.THIS .redIcon svg{
    fill:red;
    text-align:center !important;  
}
.THIS .purpleIcon svg{
    fill:purple;
    text-align:center !important;  
}
.THIS .ribbonmIcon svg{
    fill:blue;
    text-align:center !important;  
}
.THIS .yellowIcon svg{
    fill:yellow;
    text-align:center !important;  
}
.THIS .orangeIcon svg{
    fill:orange;
    text-align:center !important;  
}
.THIS .bgModalColor{
    background-color  : black;  
    opacity: 0.02 !important;
}
.THIS .fixedcolumn {
        table-layout:fixed;
        overflow: hidden;
        max-width: 420px !important;
}
.THIS .fixedcolumn2 {
        table-layout:fixed;
        overflow: hidden;
        max-width: 100px !important;
}
.THIS .fixedcolumn3 {
        table-layout:fixed;
        overflow: hidden;
        max-width: 80px !important;
}
.THIS .fixedmonth {
        table-layout:fixed;
        overflow: hidden;
        max-width: 40px !important;
}
.THIS .fixedmonth1 {
        table-layout:fixed;
        overflow: hidden;
        max-width: 41px !important;
}
.THIS .purple{
    color : purple !important;
}
.THIS .green{
    color : green !important;
}
.THIS .red{
    color : red !important;
}
.THIS .orange{
    color : orange !important;
}
.THIS .yellow{
    color : yellow !important;
}
.THIS .imageclass{
        max-width: 20px !important;
        height: 20px !important;
}