.THIS {
}

.THIS .icn svg{
 fill: currentColor;
   
}

.THIS .reportIcon svg{
 fill: #080878;
   
}

.THIS .folIcon{
    float: left;
    margin-right: 2px;
}
.THIS .btn{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .warningIcon svg{
    fill:#cc1b2e;
    margin-bottom: 1px;
    margin-right: 6px;
}

.THIS .emptyIcon svg{
    fill:#1b5297;;
    margin-bottom: 1px;
    margin-right: 6px;
}
.THIS .icnFile svg{
 fill: #1b5297;
   
}



.THIS .ctc-overflow_hidden {
    overflow: hidden;
}

.THIS .ctc-overflow_auto {
    overflow: auto;
}
.THIS .ctcfeDetail_icon.ctc-table th {
    text-align: left;
    background-color: #f3f2f2;
    padding: 4px;
    padding-left:0px;
}

.THIS .ctcfeDetail_icon.ctc-table td {
    padding: 8px 4px;
    border-bottom: 1px solid #f3f2f2;
}
.THIS .ctcfeDetail_icon .ctc-icon {
    width: 14px;
    padding-right: 0;
}

.THIS .ctcfeDetail_icon.ctc-table tbody td:first-child {
    padding-left: 12px;
}
.THIS .customColor{
    color: #1b5297 !important;
}

.THIS .inputSize {
    width:100%;
    padding-left:29px;
   
}

.THIS .slds-input-has-icon .slds-input__icon:not(button) {
    
}

.THIS .slds-input__icon_left{
    
}

.THIS .slds-input-has-icon_left-right .slds-input__icon_left {
    display: none !important;
    
}

.THIS .slds-dropdown{
    
}

.THIS .customSvg svg{
    fill: #9e9999;
    background-color: #ffffff;
    cursor: pointer;
}
.THIS .customSvgEmail svg{
    fill: #080f94;
    background-color: white;
}

.THIS .slds-input__icon-group_right {
    
    display: none;
}