.THIS {
}
.THIS .slds-table td {
    white-space:pre-wrap !important;
}
.THIS .slds-table th {
    white-space:pre-wrap !important;
}

.THIS .maintable label{
    display:none !important;
}
.THIS .maintable th{
    padding:5px !important;
    text-align: left !important;
    vertical-align: top !important;
}
.THIS .maintable td{
    padding:5px !important;
}

.THIS .slds-box {
    /* border: 1px solid grey;*/
    
}

.THIS .mobileButton{
    padding: 0px 10px;
    margin-left: 2px;
}

.THIS .spinColor{
    background-color:transparent;
}

.THIS .btn{
    margin-right:7px;
    float: right;
}
.THIS .headerText{
    text-align: center;
}
.THIS .customBIcon {
    background-color: white; 
    padding-left: 9px !important; 
    padding-right: 2px !important;
}



.THIS .frieghtCheckbox span{
    color:black;
    height:13px;
    margin:0;
    padding:0;
    vertical-align:unset;
}

.THIS .uiFrieght input{
    height:15px;
}
.THIS .customBIcon2 {
    background-color: white; 
    padding-left: 9px !important; 
    padding-right: 2px !important;
    margin-right:0.3rem;
    float:right;
}

.THIS .customCloseIcon {
    border: 1px solid #dddbda;
    border-radius: 1px;
}
.THIS .expandData {
    background-color: lightgray;
    text-align: center;
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderInput,rgb(221, 219, 218));
                border-radius: var(--lwc-borderRadiusMedium,0.25rem);
                }
                .THIS .customLookup {
                    border-left-color: #ce0000; border-left-width: 3px;
                }
                .THIS .selected{
                    color:orange;
                }
                .THIS .red svg {
                    fill : red;
                }
                .THIS .Green svg {
                    fill : green;
                }
                .THIS .Yellow svg {
                    fill : yellow;
                }
                .THIS .customContainer{
                    padding-top:1%;
                    background-color:white;
                    color:#6b6d70;
                }
                
                .THIS .customTable{
                    vertical-align: top; 
                    display: flex; 
                    position: relative; 
                    color: #6b6d70;
                }
                
                .THIS .customColumn{
                    background-color:white;
                    color:#6b6d70;
                    width:25%;
                }
                
                .THIS .columnLabel{
                    padding:4px 0px;
                }
                
                .THIS .columnSpan{
                    padding: 2px 0px;
                    text-align:left; 
                    color:black;
                }
                
                .THIS .uppercaseLabel{
                    text-transform: uppercase;
                    text-align:center;
                }    
                
                .THIS .txtArea textarea{
                    /*height:70px !important;*/   
                    height:63px;
                } 
                
                .THIS .hiddenLabel label{
                    display:none;
                } 
                
                .THIS .spanReqMargin{
                    margin-right:3px;
                    color:rgb(194, 57, 52);
                } .THIS .frieght input{
                    text-align:center;
                    min-height:22px;
                    max-height:22px;
                    border-color: #dddbda;
                    box-shadow: none !important;
                }
                .THIS .matchPanelError{
                    
                   height: 50px;
                }
                .THIS .slds-has-error .slds-form-element__help {
                    color: var(--lwc-colorTextError,rgb(194, 57, 52));
                            display: none; 
                        }
                
                .THIS .frieght lightning-input {
                    height: 19px;
                    width: 60%;
                }
                 
                     
                        
                        .THIS .frieghtMobile lightning-input{
                    height:13px;                    
                }
                .THIS .frieghtMobile input{
                    text-align:center;
                    min-height:10px;
                    max-height:16px;
                    border-color: #dddbda;
                    box-shadow: none !important;
                }