.THIS.slds-tabs_default{
background-color:white !important;    
}
.THIS .slds-modal__container{
    width: 70% !important;
    max-width: 60rem !important;
}
.THIS .inputSize {
    width:100%; 
}
.THIS .heightClass{
    height:400px !important;
}
.THIS .noheightClass{
    height:auto !important;
}
.THIS .customtable th {
  vertical-align: bottom !important;
    background-color: #f2f2f2 !important;
  color:black !important;
}
.THIS .customtable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}
    
 .THIS .customtable th[scope=row]:nth-child(1) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
}
.THIS .customtable th[scope=row]:nth-child(2) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 4em !important;
  z-index: 1 !important;
}
.THIS .customtable th[scope=row]:nth-child(3) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 12em !important;
  z-index: 1 !important;
}
.THIS .customtable th[scope=row]:nth-child(4) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 32em !important;
  z-index: 1 !important;
}  

.THIS .customtable th[scope=row]:nth-child(5) {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 52em !important;
  z-index: 1 !important;
}  
 

.THIS .customtable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}
.THIS .customtable th[scope=row] {
  vertical-align: top !important;
  color: inherit !important;
}

.THIS .customtable th:not([scope=row]):nth-child(1) {
  left: 0 !important;
  z-index: 9999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(2) {
  left: 4em !important;
  z-index: 9999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(3) {
  left: 12em !important;
  z-index: 9999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(4) {
  left: 32em !important;
  z-index: 9999 !important;
}
.THIS .customtable th:not([scope=row]):nth-child(5) {
  left: 52em !important;
  z-index: 9999 !important;
}

@media all and (min-width: 30em) {
  .THIS .customtable th[scope=row]:nth-child(1) {
    min-width: 4em !important;
  }
    .THIS .customtable th[scope=row]:nth-child(2)  {
    min-width: 8em !important;
  }
    .THIS .customtable th[scope=row]:nth-child(3)  {
    min-width: 20em !important;
  }
    .THIS .customtable th[scope=row]:nth-child(4)  {
    min-width: 20em !important;
  }
    .THIS .customtable th[scope=row]:nth-child(5)  {
    min-width: 8em !important;
  }
   
}
.THIS .finalApproval .slds-form-element__label{
    display: block !important;
}
.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
    margin:0 !important;
}