/*.THIS .slds-form-element_horizontal .slds-form-element__control{
    padding-left: 0px !important;
    padding-right: 12px !important;
}

.THIS .slds-form-element_horizontal:not(.slds-is-editing){
    padding: 0px !important;
}

.THIS .combo .slds-form-element__label{
    font-size: 13px;
    font-weight: 700 !important; 
}*/

.THIS .modalShadowRemove{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.THIS th{
    padding: 4px;
}

.THIS .customHeight button {
    height: 20px !important;
}

.THIS .headerOfTable{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
}

.THIS .purpleIcon svg{
    fill:#5224B2;
    cursor: pointer;
}