.THIS {
}
.THIS .iconRed{
     margin-top: -4px !important;
	 fill:   red; 
}
.THIS .iconRed1{
     margin-top: -4px !important;
	 fill:   red; 
}
.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .iconCSS{
    margin-top: -12px !important;
}
.THIS .chartIcon svg{
    fill: black;
}
.THIS .greenIcon svg{
    fill:green;
}
.THIS .redIcon svg{
    fill:red;
}
.THIS .summaryheaderSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 46px !important;
    left :0px !important;
    z-index: 999 !important;
    background-color:#F3F3F3;
}