.THIS th{
    padding: 6px;
}

.THIS td{
    padding: 6px;
    
}

.THIS #customTr th {
    font-weight: normal;
    background-color: #ffffff !important;
}

.THIS .customTable th {
  vertical-align: bottom !important;
  background-color: #a1a1a1 !important;
  color: black !important;
}

.THIS .customTable td {
  vertical-align: bottom !important;
  color: black !important;
}

.THIS .customTable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
}