.THIS .headerOfTable{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
}
/*.THIS .showGreen svg {
    fill : green !important;
}
.THIS .showRed svg {
    fill : red !important;
}
.THIS .showOrange svg {
    fill : orange !important;
}*/

.THIS .slds-form-element__label{
    font-weight: bold;
}
.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
    margin:0 !important;
}

.THIS .green svg {
    fill : green !important;
}
.THIS .red svg {
    fill : red !important;
}
.THIS .yellow svg {
    fill : yellow !important;
}

.THIS .slds-col slds-size_1-of-4{
   padding: 100px; 
}

.THIS .whiteIcon svg{
    fill:white;
}

/*.THIS #dateSection .slds-form-element__control {
    padding-left: 18% !important;
    clear: none;
}*/

.THIS .tip1 span{
    display: none;
}

.THIS .tip1:hover span {
    border: #c0c0c0 1px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 150px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.THIS .tip2 span{
    display: none;
}

.THIS .tip2:hover span {
    border: #c0c0c0 1px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 150px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.THIS .tip3 span{
    display: none;
}

.THIS .tip3:hover span {
    border: #c0c0c0 1px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 150px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.THIS .tip4 span{
    display: none;
}

.THIS .tip4:hover span {
    border: #c0c0c0 1px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 150px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.THIS .modalShadowRemove{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .iconCSS{
    margin-top: -12px !important;
}