.THIS input.eastQtr1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.THIS input.eastQtr2 {
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.THIS input.eastQtr3 {
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.THIS input.eastQtr4 {
    
    padding-top: 20px;
    padding-bottom: 20px;
}

.THIS .cell ui-input-number:focus {
    background-color: green;
}
.THIS .alignCenterCss {
    
    text-align: center;
}
.THIS .valdiateCss .slds-input{
    text-align: center;
    border: 2px solid red !important;
}
.THIS .childIconAlignment{
    text-align:center;
}