.THIS .green svg {
    fill : green !important;
}
.THIS .red svg {
    fill : red !important;
}
.THIS .yellow svg {
    fill : yellow !important;
}

.THIS .slds-button{
    line-height: 0px;
}


.THIS .tip1 span{
    display: none;
}

.THIS .tip1:hover span {
    border: #c0c0c0 1px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 150px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.THIS .tip2 span{
    display: none;
}

.THIS .tip2:hover span {
    border: #c0c0c0 1px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 150px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.THIS .tip3 span{
    display: none;
}

.THIS .tip3:hover span {
    border: #c0c0c0 1px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 150px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.THIS .tip4 span{
    display: none;
}

.THIS .tip4:hover span {
    border: #c0c0c0 1px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 150px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}