.THIS .iconCSS1{
    margin-top: -4px !important;
}

.THIS .modalWidth{
    width: 80% !important;
    margin: auto;
}

.THIS .iconCSS{
    margin-top: -16px !important;
}

.THIS .greenIcon svg{
    fill:green;
}

.THIS .redIcon svg{
    fill:red;
}

.THIS .grayIcon svg{
    fill:gray;
}

.THIS .slds-modal__container{
    max-width: 100% !important;
    min-width: 80% !important;
}

.THIS .headerSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0rem !important;
    z-index: 1 !important;
    background-color:#efefef;
}