.THIS div#container{
    width: 100%;
    background-color:white;
    display: flex;
}

.THIS div#inner1{
    flex: 1;
}

.THIS div#inner2{
    flex: 1;
    margin-left:15px;
}

.THIS div#inner3{
    flex: 1;
    margin-left:15px;
}