.THIS th {
  text-align: center;
  width: auto;
  padding-left: 4px;
  padding-right: 4px;
}

.THIS td {
  text-align: center;
  width: auto;
  padding-left: 4px;
  padding-right: 4px;

}

.THIS table {


  border-collapse: collapse;
  border-spacing: 0;

  border: 1px solid #ddd;

}
.THIS .green svg{
     fill:#00c700;
}
/*.THIS .red svg{
     fill:red;
}*/