.THIS .slds-accordion__summary-action {
  background-color: var(--lwc-colorBackground, rgb(243, 242, 242));
}

.THIS .slds-form-element__static {
  text-align: center;
}

.THIS .slds-form-element_stacked {
  display: flex;
}

.THIS .slds-form-element_stacked .slds-form-element__label {
  width: 50% !important;
}