.THIS .drlTh{
    background-color:#6C3483;
    color:white;
}
.THIS .drlMkrtShare{
    background-color: #58d68d;
    color:white;
}
.THIS .totalMkrtShare{
    background-color: #27ae60;
    color:white;
}
.THIS .estMrktShare{
    background-color:#85C1E9;
}