.THIS.box{
    background-color:white !important;
    height: max-content !important;
}
.THIS .headerClass{
    background-color:#8c00ff;
    color: white;
    text-alignment:left;
}

.THIS .maintable th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}
.THIS .white-icon {
    --sds-c-icon-color-foreground-default: white;
    
}