.THIS .iconCSS1{
    margin-top: -4px !important;
}
.THIS .ribbonmIcon svg{
    fill:blue;
    text-align:center !important;  
}
.THIS .iconCSS{
    margin-top: -16px !important;
}
.THIS .centerAlignInput input{
    text-align:center !important;
}
.THIS .userInput{
    background-color:#D5D8DC !important;
}
.THIS .deafaultInput{
    background-color:#D3D3D3 !important;
}
.THIS .calcInput{
    background-color:#add8e6 !important;
}
.THIS .showGreen svg {
    fill : green !important;
}
.THIS .showRed svg {
    fill : red !important;
}
.THIS .showOrange svg {
    fill : orange !important;
}
.THIS .showBlack svg {
    fill : black !important;
}
.THIS .showPink svg {
    fill : #FFD700 !important;
}
.THIS .showBabyPink svg{
    fill : #f4c2c2 !important;
}
.THIS .skuProdNameSticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0 !important;
    z-index: 9 !important;
}
.THIS .hrCls{
    display: block;
    margin: 5px;
}
.THIS .cmntText {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.THIS .modalShadowRemove{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.THIS .alignInputFieldToCneter{
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
.THIS .headingStyleForHPAPopUp{
    color:black !important;
    font-size:25px !important;
    text-align: left !important;
}
.THIS .subheadingStyleForHPAPopUp{
    color:black !important;
    font-size:15px !important;
    text-align: left !important;
}
.THIS .trTopBorderCls{
    border-top: 1px solid black;
}
.THIS .trBottomBorderCls{
    border-bottom: 1px solid black;
}
.THIS .labelHideCss .slds-form-element__label {
      display : none;
      visibility : hidden;
}
.THIS .label-hidden > label {
    display: none;
}

.THIS.popupBackground {
    background-color: black;
    opacity: 0.9 !important;
    visibility: visible !important;
}

@media (min-width: 48em){
    .THIS .slds-modal__container {
        padding:0 !important;
        margin: 0 auto !important;
        max-width: 100rem !important;
        min-width: 30rem !important;
        margin-top:20px;
    }
}