.THIS #styleids  th:nth-child(4)
{
    
     width: 200px !important;
}
.THIS .ndcStickyData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}
.THIS .itemStickyData{
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 84.32px !important;
    position: fixed;
    z-index: 1 !important;
    background-color: white;
}